<div class="ui-grid-a">
  <div class="ui-block-a">
    <div class="form-label" data-i18n="gameadd.dateday"></div>
  </div>
  <div class="ui-block-b">
    <div class="form-label" data-i18n="gameadd.datehour"></div>
  </div>
  <div class="ui-block-a" style="padding-right: 5px;">
    <input type="date" name="expectedDay" id="expectedDay">
  </div>
  <div class="ui-block-b" style="padding-right: 1px;">
    <input type="time" name="expectedHour" id="expectedHour">
  </div>
</div>

<span class="expected_error label label-info hide"></span> 