android/.externalToolBuilders
android/.settings
android/assets-jqmobi
android/assets/www/*
android/bin
android/gen

ios/www/*

node_modules
dist

.project
zipSource.bat
.classpath
.project
project.properties

src/build/
platforms/ios/build/
platforms/android/build/
platforms/wp8/build/
