android/.externalToolBuilders
android/.settings
android/assets-jqmobi
android/assets/www/*
android/bin
android/gen

ios/www/*

node_modules
dist

.project
zipSource.bat
.classpath
.project
ici.bat
project.properties
