.project
node_modules
dist

# repertoire de builds.
src/build/
platforms/ios/www/
platforms/android/assets/
platforms/android/bin/
platforms/wp8/build/
platforms/web/build/

platforms/wp8/vs/Bin/
platforms/wp8/vs/obj/
platforms/wp8/vs/www/