<!DOCTYPE html>
<html>
	<head>
		<title>YesWeScore</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
		<meta charset="utf-8">
        <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
		<script type="text/javascript" charset="utf-8" src="app.js"></script>
		<link type="text/css" rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<div id="index" data-role="page"></div>
		<%= templates %>
		<%= helpers.concat(grunt.file.expandFiles(['src/templates/*.html'])) %>   
		<!-- 
        {%= grunt.helper('concat', grunt.file.expandFiles(['src/templates/*.html'])) %}		
	    -->
	</body>
</html>