<div class="content-container">
  <div class="account">
    <a href="#games/me/<%= owner.id %>" data-i18n="account.mymatch"></a>
    <a href="#clubs/follow" class="button" data-i18n="account.clubsfollowed"></a>    
    <a href="#games/follow" class="button" data-i18n="account.gamesfollowed"></a>
    <a href="#players/follow" class="button" data-i18n="account.playersfollowed"></a>
    <%
     if( clubid === undefined ) 
       print ('<a href="#account" data-i18n="account.myclub" disabled></a>'); 
     else
       print ('<a href="#clubs/'+clubid+'" data-i18n="account.myclub"></a>'); 
    %>
    <a href="#players/form" data-i18n="account.myprofil"></a>
    <a href="#players/signin" data-i18n="account.connect"></a>
  </div>
</div>