<div class="content-container">
  <div class="account">
    <a href="#games/me/<%= Owner.id %>">Mes Matchs</a>
    <a href="#games/follow" class="button" id="">Matchs Suivis</a>
    <a href="#players/follow" class="button" id="">Joueurs Suivis</a>
    <%
     if( clubid === undefined ) 
       print ('<a href="#account" disabled>Mon Club</a>'); 
     else
       print ('<a href="#clubs/'+clubid+'">Mon Club</a>'); 
    %>
    <a href="#players/form">Mon profil</a>
    <a href="#players/signin">Connectez-vous</a>
  </div>
</div>