<div class="account">
  <a href="#games/me/<%= Owner.id %>" class="button" id="">Mes Matchs</a>
  <a href="#games/follow" class="button" id="">Matchs Suivis</a>
  <a href="#players/follow" class="button" id="">Joueurs Suivis</a>
  <% 
   
     if(Owner.club === undefined ) 
         print ('<a href="#" class="button" id="" class="ui-disabled" disabled>Mon Club</a>'); 
     else
         print ('<a href="#clubs/'+Owner.club.id+'" class="button" id="">Mon Club</a>'); 
  %>

  <a class="warning">Enregistrez-vous</a>

  <!-- Parametres -->           
  <%
    if (Owner.mail === '')
      print ('<a href="#players/form" class="button" id="">Inscription</a>');
    else
      print ('<a href="#players/form" class="button" id="">Mon profil</a>');
  %>
  <a href="#players/signin" class="button" id="">Connectez-vous</a>
</div>
