<div class="gameAdd background"></div>
<div class="gameAdd content-container">
<div class="simple">
  
<span class="success label label-info hide" style="color: red"></span>
<h3><%= club.name %></h3>

Sport : <%= club.sport %><br/>
Ville : <%= club.location.city %><br /> 
Site :<br/>
Facebook :<br /> 
<br/>
<a href="#players/club/<%= club.id %>" class="button" id="listPlayer">Liste des joueurs</a><br/> 
<a href="#games/club/<%= club.id %>" class="button" id="lastResult">Dernier resultat</a> <br/>
<!-- 
<a id="followButton" class="button">Suivre</a>
 -->
 
</div>

</div>