<div class="info background"></div>
<div class="info content-container">
<div class="simple">
  
    <div class="ui-grid-a" style="padding-top:10px">
        <div class="ui-block-a" style="width:30%">
        <img src="./images/club-pic.jpg" width="60px" height="60px" />
        </div>
        <div class="ui-block-b titlePlayer" style="width:70%">
        <%= club.name %>
        </div>
    </div> 
     
    <hr/>
    <b>Sport :</b> <%= club.sport %>
    <hr/>
    <b>Ville :</b> <%= club.location.city %>
    <hr/>
    <b>Site :</b>
    <hr/>
    
    <div class="account">
      <a href="#players/club/<%= club.id %>" class="button" id="listPlayer">Liste des joueurs</a>  
      <a href="#games/club/<%= club.id %>" class="button" id="lastResult">Dernier resultat</a>
    </div>
  
  </div>
</div>

<!--
  COMMENT SAVE
-->
<div class="button-form">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form">  
  <% if (follow === 'true') { %> 
  <div class="button-selected" id="followButton">Ne plus suivre</div> 
  <% } else { %> 
  <div class="button" id="followButton">Suivre</div>
  <% } %>
  </div>  
</div>