<!DOCTYPE html>
<html>
<head>
<title>YesWeScore</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta charset="utf-8">
<!-- Third party css -->
<!-- our css -->
<link rel="stylesheet" href="../styles/main.css">
</head>
<body>

<header class="txtcenter">
	<a href="#" class="button">Back</a>
	<div class="yesTitle">Yes We Score</div></p>
</header>
<!-- /header -->

<div class="content txtcenter">

	<form id="frmAddClub" class="ui-body ui-body-b ui-corner-all">

		<span class="success label label-info hide" style="color: red"></span>

		<button type="submit" value="Save" class="buttonform">Ajouter un club</button>


		<div class="ui-grid-a">
			<div class="ui-block-a">
				<label class="ui-input-text" for="name">* Nom</label>
			</div>
			<div class="ui-block-b">
				<input type="text" id="name" name="name" placeholder="Nom du Club" class='ui-input-text' value="" /> 
				<span class="name_error label label-info hide"></span>
			</div>
		</div>

		<div class="ui-grid-a">
			<div class="ui-block-a">
			<label class="ui-input-text " for="city">* Ville</label>
			</div>
			<div class="ui-block-b">
				<input type="text" id="city" name="city" placeholder="Ville" class='ui-input-text' value="" /> 
				<span class="city_error label label-info hide"></span>
			</div>
		</div>


		<input type="hidden" id="playerid" value="<%= playerid %>" class="input" /> 
		<input type="hidden" id="token" value="<%= token %>" class="input" />

	</form>


</div>
<!-- /content -->

<footer class="txtcenter">
<div class="buttonmnu"><a id="mnufollow" >Suivre</a></div>
<div class="buttonmnu" style="width:34%;"><a id="mnudiffuse" >Diffuser</a></div>
<div class="buttonmnu"><a id="mnuaccount" >Mon Compte</a></div>
</footer>

</body>
</html>