<div class="ui-grid-d" style="height:22px;margin-top:4px;">
  <div class="ui-block-a div_score_menu">
    <img src="./images/chrono.png" width="15" height="20">
  </div>
  <div class="ui-block-b div_score_menu">
    <img src="./images/calendar.png" width="17" height="20">
  </div>
  <div class="ui-block-c div_score_menu">
    <img src="./images/house.png" width="21" height="20">
  </div>
  <div class="ui-block-d div_score_menu">
    <img src="./images/eye.png" width="20" height="20">
  </div>
  <div class="ui-block-e div_score_menu_right">
    <img src="./images/people.png" width="20" height="20">
  </div>
</div>
<div class="ui-grid-d" style="height:30px;">
  <div class="ui-block-a div_score_menu">
  0:45:32
  </div>
  <div class="ui-block-b div_score_menu">
  26/03/2013<br/>
  16h30
  </div>
  <div class="ui-block-c div_score_menu">
  <%= game.location.city %>
  </div>
  <div class="ui-block-d div_score_menu">
  Public
  </div>
  <div class="ui-block-e div_score_menu_right">
  5
  </div>
</div>

<div id="displayViewScoreBoard"></div>

<form id="frmScore">
<% if (game.owner === Owner.id) { %>
	<div class="ui-grid-b">
		<div class="ui-block-a div_score_button_bottom">
            <a id="optionButton">Options</a> 
		</div>
        <div class="ui-block-b div_score_button_bottom">
          <a href="http://www.facebook.com/share.php?u=https://apps.facebook.com/447718828610668/game/<%= game.id %>" target="_blank">Partager</a>
        </div>        	
		<div class="ui-block-c div_score_button_bottom">
			<a id="endButton">Terminer</a>
		</div>
    </div>
<% } else { %> 
  <div class="ui-grid-b">
    <div class="ui-block-a div_score_button_bottom">
            <% if (follow === 'true') { %> 
            <a id="followButton">Ne plus suivre</a> 
            <% } else { %> 
            <a id="followButton">Suivre</a> 
            <% } %> 
    </div>
        <div class="ui-block-b div_score_button_bottom">
          <a href="http://www.facebook.com/share.php?u=https://apps.facebook.com/447718828610668/game/<%= game.id %>" target="_blank">Partager</a>
        </div>          
    <div class="ui-block-c div_score_button_bottom">
      <a id="endButton">Terminer</a>
    </div>
    </div>
<% } %>
</form>

<br/>
COMMENTAIRES
