<% 
team1_set1 = '&nbsp;'; 
team1_set2 = '&nbsp;'; 
team1_set3 = '&nbsp;';
team2_set1 = '&nbsp;'; 
team2_set2 = '&nbsp;'; 
team2_set3 = '&nbsp;';
set_current = 1; 
team1_sets = '0'; 
team2_sets = '0'; 

if (game.options.score !== null ) { 
  if(game.options.score.indexOf('/')!=-1) { 
    scoreboard = game.options.score.split('/'); 
    team1_sets = scoreboard[0]; 
    team2_sets = scoreboard[1]; 
    } 
} 
  
if (game.options.sets !== null ) { 
  if (game.options.sets.indexOf(';')!=-1) { 
    scoreboard = game.options.sets.split(';'); 
    
    if (scoreboard.length==2 ||scoreboard.length==3) { 
      scoreboard1 = scoreboard[0].split('/');
      team1_set1 = scoreboard1[0]; 
      team2_set1 = scoreboard1[1]; 
      scoreboard2 = scoreboard[1].split('/'); 
      team1_set2 = scoreboard2[0]; 
      team2_set2 = scoreboard2[1]; 
      set_current=2; 
    } 
    
    if (scoreboard.length==3) { 
      scoreboard3 = scoreboard[2].split('/'); 
      team1_set3 = scoreboard3[0]; 
      team2_set3 = scoreboard3[1]; set_current=3; 
    } 
  } 
  // 1 set 
  else { 
    if (game.options.sets.indexOf('/')!=-1) { 
      scoreboard1 = game.options.sets.split('/'); 
      team1_set1 = scoreboard1[0]; 
      team2_set1 = scoreboard1[1]; 
    } 
  } 
} 
%>
<div style="text-align:center;">
<a href="#players/<%= game.teams[0].players[0].id %>" class="div_score_player"> 
 <%= game.teams[0].players[0].name %>
</a>
<br/>
<%
 if (game.teams[0].players[0].club !== undefined) {  
  print(' '+game.teams[0].players[0].club.name);  
} 
%>
<%= game.teams[0].players[0].rank %>
</div>

<div class="ui-grid-c">
    <div class="ui-block-a div_score_mini_legend">1</div>
    <div class="ui-block-b div_score_mini_legend">2</div>
    <div class="ui-block-c div_score_mini_legend">3</div>
    <div class="ui-block-d div_score_mini_legend">sets</div>
</div>

<div class="ui-grid-c" style="padding:5px;">
    <div class="ui-block-a div_score_button" id="team1_sets_div"><%= team1_set1 %></div>
    <div class="ui-block-b div_score_button" id="team1_sets_div"><%= team1_set2 %></div>
    <div class="ui-block-c div_score_button" id="team1_set1_div"><%= team1_set3 %></div>
    <div class="ui-block-d div_score_button" id="team1_set2_div"><%= team1_sets %></div>
</div>
<!-- /grid-a -->

<div class="ui-grid-c" style="margin:5px;">
    <div class="ui-block-a div_score_button" id="team1_sets_div"><%= team2_set1 %></div>
    <div class="ui-block-b div_score_button" id="team1_sets_div"><%= team2_set2 %></div>
    <div class="ui-block-c div_score_button" id="team1_set1_div"><%= team2_set3 %></div>
    <div class="ui-block-d div_score_button" id="team1_set2_div"><%= team2_sets %></div>
</div>

<div style="text-align:center;">
<a href="#players/<%= game.teams[1].players[0].id %>" class="div_score_player"> 
<%= game.teams[1].players[0].name %>
 </a><br/>
<% 
 if (game.teams[1].players[0].club !== undefined) {  
  print(' '+game.teams[1].players[0].club.name);  
} 
%>
<%= game.teams[1].players[0].rank %>
</div>

<form>
    <input type="hidden" id="set_current" value="<%= set_current %>" /> 
    <input type="hidden" id="gameid" value="<%= game.id %>" /> 
    <input type="hidden" id="team1_id" value="<%= game.teams[0].players[0].id %>" />
    <input type="hidden" id="team1_points" value="<%= game.teams[0].points %>" /> 
    <input type="hidden" id="team1_set1" value="<%= team1_set1 %>" /> 
    <input type="hidden" id="team1_set2" value="<%= team1_set2 %>" /> 
    <input type="hidden" id="team1_set3" value="<%= team1_set3 %>" /> 
    <input type="hidden" id="team2_id" value="<%= game.teams[1].players[0].id %>" /> 
    <input type="hidden" id="team2_points" value="<%= game.teams[1].points %>" />
    <input type="hidden" id="team2_set1" value="<%= team2_set1 %>" /> 
    <input type="hidden" id="team2_set2" value="<%= team2_set2 %>" /> 
    <input type="hidden" id="team2_set3" value="<%= team2_set3 %>" />
    <input type="hidden" id="playerid" value="<%= Owner.id %>" /> 
    <input type="hidden" id="token" value="<%= Owner.token %>" />
</form>