<div class="content-container">
  <div class="indexViewTemplate">
    <div class="ui-grid-a searchbar">
      <div class="ui-block-a">
        <div class="input-search-background">
          <input type="search" class="mylib-forms" name="search" id="search-basic" value="" data-i18n="[placeholder]search.gameplaceholder;" />
        </div>
        <span class="button-search" style=""><!-- magnifier glass @see http://tenbytwenty.com/?xxxx_posts=sosa --></span>
      </div>
      <div class="ui-block-b">
        <div class="button-filter">
          <div class="oval"></div>
          <div class="oval"></div>
          <div class="oval"></div>
        </div>
        <div class="filters">
          <a data-filter="date" data-i18n="search.filterdate"></a>
          <a data-filter="location" data-i18n="search.filterlocation"></a>
          <a data-filter="club" data-i18n="search.filterclub"></a>
        </div>
      </div>
    </div>
    <ul id="listGamesView" class="ui-listview results"></ul>
  <div>
<div>