<div class="content-container">
  <div class="game">

    <!--
      INFO BAR
    -->
    <div class="infobar">
      <!-- icons -->
      <div class="ui-grid-d header">
        <div class="ui-block-a">
          <img src="./images/chrono.png" width="15" height="19" style="margin-top:1px;">
        </div>
        <div class="ui-block-b">
          <img src="./images/calendar.png" width="17" height="20">
        </div>
        <div class="ui-block-c">
          <img src="./images/house.png" width="21" height="19">
        </div>
        <div class="ui-block-d">
          <img src="./images/eye.png" width="20" height="12" style="margin-top:4px;">
        </div>
        <div class="ui-block-e">
        <% if (game.owner === Owner.id) { %>
          <img src="./images/undo.png" width="20" height="20">
        <% }
           else { 
         %>
          <img src="./images/people.png" width="24" height="18">
        <% } %>                  
        </div>
      </div>
      <!-- infos -->
      <div class="ui-grid-d text" >
        <div class="ui-block-a">
          <span class="timer">0:45:32</span>
          <% 
          //si date de fin - terminé
          //si en cours on affiche la différence de temps
          %>
        </div>
        <div class="ui-block-b">
        <%
        if (game.dates) {
          game.dates.startConvert = new Date(game.dates.start);
          game.dates.startDate = ('0'+game.dates.startConvert.getDay()).slice(-2)+'/'+('0'+game.dates.startConvert.getMonth()).slice(-2)+'/'+game.dates.startConvert.getFullYear();
          game.dates.startTime = game.dates.startConvert.getHours()+'h'+game.dates.startConvert.getMinutes();
        } else {
           game.dates = {
             startDate : '',
             startTime : ''
           };
        }
        %>
        <b>
        <%= game.dates.startDate  %><br/>
        <%= game.dates.startTime %>
        </b>
        </div>
        <div class="ui-block-c">
        <b><%= game.location.city %></b>
        </div>
        <div class="ui-block-d">
        <b>Public</b>
        </div>
        <div class="ui-block-e ">
        <% if (game.owner === Owner.id) { %>
        <span class="undoAction">Annuler</span>
        <% } 
        else { %>
        Mode Spectateur
        <% } %>
        </div>
      </div>
    </div>

    <!--
      SCOREBOARD
    -->
    <div id="scoreBoard">
  
    </div>

    <!--
      SOCIAL BAR
    -->
    <div class="socialbar">
      <% if (game.owner === Owner.id) { %>
	      <div class="ui-grid-b">
		      <div class="ui-block-a button">
            <a id="optionButton">Options match</a> 
		      </div>
          <div id="facebook" class="ui-block-b share">
            <div class="facebook"><img src="./images/facebook.png" width="11" height="22" /></div>
          </div>
		      <div class="ui-block-c button">
                  <% if (game.status === "created" ) { %>
			      <a id="beginButton">Commencer match</a>
                  <% }
                  else if (game.status === "finished" || game.status === "canceled") {
                  %>
                  <a id ="end">Match Fini</a>
                  <%                  
                  }
                  else {
                  %>
                  <a id="endButton">Terminer match</a>
                  <%
                  }
                  %>
		      </div>
        </div>
      <% } else { %> 
        <div class="ui-grid-b">
          <div class="ui-block-a button">
            <a id="followButton">
              <% if (follow === 'true') { %>Ne plus suivre<% } else { %>Suivre match<% } %> 
            </a>
          </div>
          <div id="facebook" class="ui-block-b">
            <div class="facebook"><img src="./images/facebook.png" width="11" height="22" /></div>
          </div>          
          <div class="ui-block-c buttonSpecial">
            <%
            if (game.status === "finished") {
            %>
            <span>Match Fini</span>
            <%                  
            }
            else if (game.status === "created") {
            %>
            <span>Match Pr&eacute;vu</span>
            <%                  
            }            
            else if (game.status === "canceled") {
            %>
            <span>Match Annul&eacute;</span>
            <%                  
            } 
            else  {
            %>
            <span>Match en cours</span>
            <%
            }
            %>
          </div>
       </div>
      <% } %>
      <br/>
    </div>
  </div>
</div>
<!--
  COMMENT BUTTON
-->
<div class="button-comments" data-js-href="#games/<%= game.id %>/comments/">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-comments">COMMENTAIRES</div>
</div>
