<div class="game">

  <!--
    INFO BAR
  -->
  <div class="infobar">
    <!-- icons -->
    <div class="ui-grid-d header">
      <div class="ui-block-a">
        <img src="./images/chrono.png" width="15" height="19" style="margin-top:1px;">
      </div>
      <div class="ui-block-b">
        <img src="./images/calendar.png" width="17" height="20">
      </div>
      <div class="ui-block-c">
        <img src="./images/house.png" width="21" height="19">
      </div>
      <div class="ui-block-d">
        <img src="./images/eye.png" width="20" height="12" style="margin-top:4px;">
      </div>
      <div class="ui-block-e">
        <img src="./images/people.png" width="24" height="15" style="margin-top:4px;">
      </div>
    </div>
    <!-- infos -->
    <div class="ui-grid-d text" >
      <div class="ui-block-a">
        <span class="timer">0:45:32</span>
        <% 
        //si date de fin - terminé
        //si en cours on affiche la différence de temps
        %>
      </div>
      <div class="ui-block-b">
      <%
      game.dates.startConvert = new Date(game.dates.start);
      game.dates.startDate = ('0'+game.dates.startConvert.getDay()).slice(-2)+'/'+('0'+game.dates.startConvert.getMonth()).slice(-2)+'/'+game.dates.startConvert.getFullYear();
      game.dates.startTime = game.dates.startConvert.getHours()+'h'+game.dates.startConvert.getMinutes();
      %>
      <b>
      <%= game.dates.startDate  %><br/>
      <%= game.dates.startTime %>
      </b>
      </div>
      <div class="ui-block-c">
      <b><%= game.location.city %></b>
      </div>
      <div class="ui-block-d">
      <b>Public</b>
      </div>
      <div class="ui-block-e ">
      <b>.</b>
      </div>
    </div>
  </div>

  <!--
    SCOREBOARD
  -->
  <div id="scoreBoard">
  
  </div>

  <!--
    SOCIAL BAR
  -->
  <div class="socialbar">
    <% if (game.owner === Owner.id) { %>
	    <div class="ui-grid-b">
		    <div class="ui-block-a score_bottom">
          <a id="optionButton"><div class="button_bottom">Options match</div></a> 
		    </div>
            <div class="ui-block-b score_bottom" id="facebook">
                <img src="./images/facebook.png" width="44" height="44" />
            </div>        	
		    <div class="ui-block-c score_bottom">
			    <a id="endButton"><div class="button_bottom">Terminer match</div></a>
		    </div>
        </div>
    <% } else { %> 
      <div class="ui-grid-b">
        <div class="ui-block-a score_bottom">
          <a id="followButton">
          <div class="button_bottom">
          <% if (follow === 'true') { %>Ne plus suivre<% } else { %>Suivre&nbsp;&nbsp; match<% } %> 
          </div>
          </a>
        </div>
        <div class="ui-block-b score_bottom" id="facebook">
              <img src="./images/facebook.png" width="44" height="44" />
        </div>          
        <div class="ui-block-c score_bottom">
          <a id="endButton"><div class="button_bottom">Terminer match</div></a>
        </div>
     </div>
    <% } %>
    <br/>
    <div align="center">
    <a href="#games/comment/<%= game.id %>" style="text-decoration:none;"><div class="button_comment">COMMENTAIRES</div></a>
    </div>
  </div>
</div>