<div class="ui-grid-d" style="height:22px;margin-top:4px;">
  <div class="ui-block-a div_score_menu">
    <img src="./images/chrono.png" width="15" height="20">
  </div>
  <div class="ui-block-b div_score_menu">
    <img src="./images/calendar.png" width="17" height="20">
  </div>
  <div class="ui-block-c div_score_menu">
    <img src="./images/house.png" width="21" height="20">
  </div>
  <div class="ui-block-d div_score_menu">
    <img src="./images/eye.png" width="20" height="20">
  </div>
  <div class="ui-block-e div_score_menu_right">
    <img src="./images/people.png" width="20" height="20">
  </div>
</div>
<div class="ui-grid-d" style="height:30px;">
  <div class="ui-block-a div_score_menu">
  <span class="timer">0:45:32</span>
  <% 
  //si date de fin - terminé
  //si en cours on affiche la différence de temps
  %>
  </div>
  <div class="ui-block-b div_score_menu">
  <%
  game.dates.startConvert = new Date(game.dates.start);
  game.dates.startDate = ('0'+game.dates.startConvert.getDay()).slice(-2)+'/'+('0'+game.dates.startConvert.getMonth()).slice(-2)+'/'+game.dates.startConvert.getFullYear();
  game.dates.startTime = game.dates.startConvert.getHours()+'h'+game.dates.startConvert.getMinutes();
  %>
  <b>
  <%= game.dates.startDate  %><br/>
  <%= game.dates.startTime %>
  </b>
  </div>
  <div class="ui-block-c div_score_menu">
  <b><%= game.location.city %></b>
  </div>
  <div class="ui-block-d div_score_menu">
  <b>Public</b>
  </div>
  <div class="ui-block-e div_score_menu_right">
  <b>.</b>
  </div>
</div>

<div id="displayViewScoreBoard"></div>

<form id="frmScore">
<% if (game.owner === Owner.id) { %>
	<div class="ui-grid-b">
		<div class="ui-block-a score_bottom">
            <a id="optionButton"><div class="button_bottom">Options match</div></a> 
		</div>
        <div class="ui-block-b score_bottom">
          <a href="http://www.facebook.com/share.php?u=https://apps.facebook.com/447718828610668/game/<%= game.id %>" target="_blank">
          <img src="./images/facebook.png" width="44" height="44" />
          </a>
        </div>        	
		<div class="ui-block-c score_bottom">
			<a id="endButton"><div class="button_bottom">Terminer match</div></a>
		</div>
    </div>
<% } else { %> 
  <div class="ui-grid-b">
    <div class="ui-block-a score_bottom">
      <a id="followButton">
      <div class="button_bottom">
      <% if (follow === 'true') { %>Ne plus suivre<% } else { %>Suivre match<% } %> 
      </div>
      </a>
    </div>
    <div class="ui-block-b score_bottom">
          <a href="http://www.facebook.com/share.php?u=https://apps.facebook.com/447718828610668/game/<%= game.id %>" target="_blank">
          <img src="./images/facebook.png" width="44" height="44" />
          </a>
    </div>          
    <div class="ui-block-c score_bottom">
      <a id="endButton"><div class="button_bottom">Terminer match</div></a>
    </div>
 </div>
<% } %>
</form>
<br/>
<div align="center">
<a href="#games/comment/<%= game.id %>" style="text-decoration:none;"><div class="button_comment">COMMENTAIRES</div></a>
</div>
