<div class="comments background"></div>
<div class="comments content-container">
  

  <div class="bg-green">

    <form id="frmCommentGame">
      <div id="incomingComment"></div>
      <br/>
      <div class="textarea-border">
        <textarea rows="10" cols="40" class="textarea-comment" id="messageText" placeholder="Ecrire un commentaire"></textarea> 
        <div class="buttons"><div class="button" id="sendComment">Envoyer</div></div>
      </div>

      <input type="hidden" id="gameid" value="<%= gameid %>" />  
      <input type="hidden" id="playerid" value="<%= playerid %>" /> 
      <input type="hidden" id="token" value="<%= token %>" />
 
    </form>

  </div>
</div>