<div class="content-container">
  <div class="indexViewTemplate">
    <div class="ui-grid-a searchbar">
      <div class="ui-block-a">
        <div class="input-search-background">
          <input type="search" class="mylib-forms" name="search" id="search-basic" value="" data-i18n="[placeholder]search.gameplaceholder;" />
        </div>
        <span class="button-search" style=""><!-- magnifier glass @see http://tenbytwenty.com/?xxxx_posts=sosa --></span>
      </div>
            
      <% if (button === true) { %>
      <div class="ui-block-b">
        <div class="button-option-right"></div>
      </div>
       <% } 
       else { %>
      <div class="ui-block-b">
        <span class="form-button refresh" data-i18n="gameadd.refresh"></span>
      </div>             
       <% } %>
        
    </div>
    
    <% if (button === true) { %>    
    <div class="ui-grid-b advancedsearch">
      <div class="ui-block-a">
        <span data-i18n="search.filters"></span>
      </div>    
      <div class="ui-block-b" id="searchgeo">

      </div>
      <div class="ui-block-c" id="searchmyclub">
        
      </div>
    </div>
    

    <div class="ui-grid-c search">
      <div class="ui-block-a" data-filter="filter-status-all">
        <span data-i18n="search.filterstatusall"></span>
      </div>
      <div class="ui-block-b" data-filter="filter-status-ongoing">
        <span data-i18n="search.filterstatusongoing"></span>
      </div>
      <div class="ui-block-c" data-filter="filter-status-finished">
        <span data-i18n="search.filterstatusfinished"></span>
      </div>
      <div class="ui-block-d" data-filter="filter-status-created">
        <span data-i18n="search.filterstatuscreated"></span>
      </div>
    </div>  
    <% } 
     %>
    
    <ul id="listGamesView" class="ui-listview results"></ul>
  <div>
<div>