<div class="list-comment-title">
  <% if(streams.length==0) { %>
    Aucun commentaire
  <% } else { %> 
  <%= streams.length %> COMMENTAIRES
  <% } %> 
</div>

<div class="list-comment">
  <% for (var i = 0; i < streams.length; i++) { stream = streams[i]; 

  stream.dates.startConvert = new Date(stream.dates.creation);
  stream.dates.startDate = stream.dates.startConvert.getDay()+' '+stream.dates.startConvert.getMonthName()+' '+stream.dates.startConvert.getFullYear();
  stream.dates.startTime = ' '+stream.dates.startConvert.getHours()+':'+stream.dates.startConvert.getMinutes();

  %>
  <div class="comment" id="comment<%= stream.id %>">
	  <div class="infocomment">
      <span class="player-name">
      <%
      if (stream.owner.player!==undefined) {
      %>
      <%= (stream.owner.player.name ||'Anonymous') %>
      <%
      }    
      if (stream.owner.facebook!==undefined) {
      %>
      <%= (stream.owner.facebook.name ||'Anonymous') %> 
      <%
      }    
      %></span> a dit le <%= stream.dates.startDate %> &agrave; <%= stream.dates.startTime %></div> 
      <%= stream.data.text %> 
        <div class="links">
	  <% if ( stream.owner.id === Owner.id ) { %> <a class="deleteComment" id="<%= stream.id %>">supprimer</a> <% } %>
	  <% if ( stream.owner.id !== Owner.id ) { %> <a class="warnComment" id="<%= stream.id %>">signaler</a> <% } %>	
      </div>
  </div>
  <% } %>
</div>
