<header class="txtcenter">
	<a href="#">Back</a>
	<div class="yesTitle">Yes We Score</div></p>
</header>

<div class="content txtcenter">

	<form id="frmGamePref" class="ui-body ui-body-b ui-corner-all">

		<ul data-role="listview" data-filter="true">
			<li><a href="#games/add?team2=Vincent&id=131313">Vincent
					Terrasi</a></li>
			<li><a href="#games/add?team2=Ludovic&id=113232132">Ludovic</a></li>
		</ul>

		<input type='hidden' id='playerid' value='' class='input' /> <input
			type='hidden' id='token' value='' class='input' />

	</form>


</div>
<!-- /content -->

<footer class="txtcenter">
<div class="buttonmnu active"><a id="mnufollow" href="#">Suivre</a></div>
<div class="buttonmnu" style="width:34%;"><a id="mnudiffuse" href="#games/add">Diffuser</a></div>
<div class="buttonmnu"><a id="mnuaccount" href="#account">Mon Compte</a></div>
</footer>