<div class="comments background"></div>
<div class="comments content-container">
  <div class="zone-score"></div>

  <div class="zone-list">
    <div>
      <div class="list-comment-title">COMMENTAIRES</div>
      <div class="list-comment">
      </div>
    </div>
    <br/>
    <div class="textarea-border">
      <textarea rows="10" cols="40" class="textarea-comment" id="messageText" placeholder="Ecrire un commentaire"></textarea> 
    </div>
  </div>
</div>

<div class="button-form" data-input-mode="none">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form"><div class="button send" data-js-call="sendComment">ENVOYER</div></div>
</div>
