<div class="indexViewTemplate">
  <div class="ui-grid-a" style="">
    <div class="ui-block-a" style="">
      <div class="input-search-background">
        <input type="search" class="mylib-forms" name="search" id="search-basic" value="" placeholder="Rechercher par nom, par club" />
      </div>
      <span class="button-search" style=""><!-- magnifier glass @see http://tenbytwenty.com/?xxxx_posts=sosa --></span>
    </div>
    <div id="sendFilter" class="ui-block-b">
      <div class="button-filter">
        <div class="oval"></div>
        <div class="oval"></div>
        <div class="oval"></div>
      </div>
    </div>
  </div>
  <ul id="listGamesView" class="ui-listview"></ul>
<div>