<header class="txtcenter">
<div class="yesTitle">Yes We Score</div></p>
</header>
<div class="content txtcenter">
	<input type="search" name="search" id="search-basic" value="" placeholder="Rechercher par nom, par club" /><br /> <br />
	<ul id="listGamesView" class="ui-listview"></ul>
</div>
<footer class="txtcenter">
<div class="buttonmnu active"><a id="mnufollow" href="#">Suivre</a></div>
<div class="buttonmnu" style="width:34%;"><a id="mnudiffuse" href="#games/add">Diffuser</a></div>
<div class="buttonmnu"><a id="mnuaccount" href="#account">Mon Compte</a></div>
</footer>

