<!-- template list-team.html -->
<% if(teams.length==0) { %>
<li><p class="message" data-i18n="message.noresult"></p></li>
<% } %> 
<% for (var i = 0; i < teams.length; i++) { 

team = teams[i]; 

if (team.error!==undefined) 
{
  if (team.error.length > 1 ) 
  { 
  %>
  <li><p class="message" data-i18n="message.error"></p></li>
  <%
   break;
  }
}
%>
<li class="team" id="#teams/<%= team.id %>">
  <div class="ui-grid-a">
    <div class="ui-block-a" style="width: 20%;">
    <img src="./images/team-pic.jpg" width="40px" height="40px" />
    </div>
    <div class="ui-block-b" style="width: 80%;valign:top;">
    <div class="game-player"><%= team.name %></div>
    <div class="infos">(  )</div>
    </div>
  </div>
</li>
<% 
} 
%>