<!-- template module-game-scoreboard.html -->
<div class="scoreBoard">
  <!-- team1 -->

  <div class="ui-grid-a" style="padding-top:3px"> 
    <div class="ui-block-a">
     <%
     if (game.teams[0].players[0].owner === undefined) 
     { 
     %>     
       <div id="#players/<%= game.teams[0].players[0].id %>"></div>
         <div class="playerInfos playerEditable" id="#players/<%= game.teams[0].players[0].id %>">  
     <%
     }
     else {
     %>
         <div class="playerInfos">     
     <%
     }
     %>
         <span class="player-name"> 
           <b class="server1">&nbsp;&nbsp;&nbsp;</b>&nbsp;<%= game.teams[0].players[0].name %>&nbsp;<b class="follow1">&nbsp;&nbsp;&nbsp;</b>
         </span>
      
         <div class="other">
          <span class="player-rank">
          <%= game.teams[0].players[0].rank %>
          </span>         
          <span class="club">
            <%
             if (game.teams[0].players[0].club !== undefined) {  
               print(' '+game.teams[0].players[0].club.name);  
             } 
            %>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-block-b">
    <%
    if (game.teams[0].players[1].owner === undefined) 
    { 
    %>     
      <div id="#players/<%= game.teams[0].players[1].id %>"></div>
      <div class="playerInfos playerEditable" id="#players/<%= game.teams[0].players[1].id %>">  
        <%
        }
        else {
        %>
        <div class="playerInfos">     
        <%
        }
        %>
          <span class="player-name"> 
            <b class="server1">&nbsp;&nbsp;&nbsp;</b>&nbsp;<%= game.teams[0].players[1].name %>&nbsp;<b class="follow1">&nbsp;&nbsp;&nbsp;</b>
          </span>
      
          <div class="other">
          <span class="player-rank">
            <%= game.teams[0].players[1].rank %>
          </span>          
            <span class="club">
            <%
            if (game.teams[0].players[1].club !== undefined) {  
              print(' '+game.teams[0].players[1].club.name);  
            } 
            %>
          </span>
        </div>    
      </div>
    </div>
  </div>    
  <!-- scoreboard -->  
  <div class="score-grid">
    <div class="ui-grid-c">
        <div class="ui-block-a legend">1</div>
        <div class="ui-block-b legend">2</div>
        <div class="ui-block-c legend">3</div>
        <div class="ui-block-d legend"></div>
        <div class="ui-block-e legend">sets</div>
    </div>

    <div class="ui-grid-c">
        <div class="ui-block-a set" data-team="0" data-set="0"><div class="score"><%= team1_set1 %></div></div>
        <div class="ui-block-b set" data-team="0" data-set="1"><div class="score"><%= team1_set2 %></div></div>
        <div class="ui-block-c set" data-team="0" data-set="2"><div class="score"><%= team1_set3 %></div></div>
        <div class="ui-block-d"></div>
        <div class="ui-block-e"><div class="score sets"><%= team1_sets %></div></div>
    </div>
    <!-- /grid-a -->

    <div class="ui-grid-c" style="margin-top:6px;">
        <div class="ui-block-a set" data-team="1" data-set="0"><div class="score"><%= team2_set1 %></div></div>
        <div class="ui-block-b set" data-team="1" data-set="1"><div class="score"><%= team2_set2 %></div></div>
        <div class="ui-block-c set" data-team="1" data-set="2"><div class="score"><%= team2_set3 %></div></div>
        <div class="ui-block-d"></div>
        <div class="ui-block-e"><div class="score sets"><%= team2_sets %></div></div>
    </div>
    <div class="separator"></div>
  </div>

  <!-- team2 -->
  <div class="ui-grid-a" style="padding-top:3px"> 
    <div class="ui-block-a">
     <%
     if (game.teams[1].players[0].owner === undefined) 
     { 
     %>     
       <div id="#players/<%= game.teams[1].players[0].id %>"></div>
         <div class="playerInfos playerEditable" id="#players/<%= game.teams[1].players[0].id %>">  
     <%
     }
     else {
     %>
         <div class="playerInfos">     
     <%
     }
     %>
         <span class="player-name"> 
           <b class="server2">&nbsp;&nbsp;&nbsp;</b>&nbsp;<%= game.teams[1].players[0].name %>&nbsp;<b class="follow1">&nbsp;&nbsp;&nbsp;</b>
         </span>
      
         <div class="other">
           <span class="player-rank">
           <%= game.teams[1].players[0].rank %>
           </span>         
           <span class="club">
            <%
             if (game.teams[1].players[0].club !== undefined) {  
               print(' '+game.teams[1].players[0].club.name);  
             } 
            %>
           </span>
         </div>
      </div>
    </div>
    <div class="ui-block-b">
    <%
    if (game.teams[1].players[1].owner === undefined) 
    { 
    %>     
      <div id="#players/<%= game.teams[1].players[1].id %>"></div>
      <div class="playerInfos playerEditable" id="#players/<%= game.teams[1].players[1].id %>">  
        <%
        }
        else {
        %>
        <div class="playerInfos">     
        <%
        }
        %>
          <span class="player-name"> 
            <b class="server2">&nbsp;&nbsp;&nbsp;</b>&nbsp;<%= game.teams[1].players[1].name %>&nbsp;<b class="follow1">&nbsp;&nbsp;&nbsp;</b>
          </span>
      
          <div class="other">
            <span class="player-rank">
            <%= game.teams[1].players[1].rank %>
            </span>          
            <span class="club">
            <%
            if (game.teams[1].players[1].club !== undefined) {  
              print(' '+game.teams[1].players[1].club.name);  
            } 
            %>
          </span>
        </div>    
      </div>
    </div>
  </div>

</div>