<!-- template page-clubadd.html -->
<div class="blue-screen gameAdd background"></div>
<div class="blue-screen gameAdd content-container">

  <div class="zone-list simple">
    <span class="success label label-info hide"></span>
    <div class="form-label unselectable" data-i18n="clubadd.name"></div>
    <div>
      <input type="text" id="name" name="name" data-i18n="[placeholder]clubadd.name;" class='jq-ui-forms' value="" /> 
    </div>
    <div class="name_error label label-info hide"></div>

    <div class="form-label unselectable" data-i18n="clubadd.city"></div>
    <div>
      <input type="text" id="city" name="city" data-i18n="[placeholder]clubadd.city;" class='jq-ui-forms' value="" /> 
    </div>
    <div class="city_error label label-info hide"></div>
  </div>
</div>

<!--
  COMMENT SAVE
-->
<div class="button-form" data-input-mode="process">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form"><div class="button" data-i18n="clubadd.add"></div></div>  
</div>

