<!-- template page-teamadd.html -->
<div class="blue-screen gameAdd background"></div>
<div class="blue-screen gameAdd content-container">
  <div class="simple">
    <span class="success label label-info hide" style="color: red"></span>
    <div>
      <label class="form-label unselectable" for="name">* <span data-i18n="teamadd.name"></span></label>
    </div>
    <div>
      <input type="text" id="name" name="name" data-i18n="[placeholder]teamadd.name;" class='jq-ui-forms' value="" /> 
      <span class="name_error label label-info hide"></span>
    </div>

    <div>
      <label class="form-label unselectable" for="nbplayers">* <span data-i18n="teamadd.nbplayers"></span></label>
    </div>
    <div>
      <input type="text" id="nbplayers" name="nbplayers" data-i18n="[placeholder]teamadd.nbplayers;" class='jq-ui-forms' value="" /> 
      <span class="nbplayers_error label label-info hide"></span>
    </div>
    
    <!-- 
    <div>
      <label class="form-label unselectable" for="championship">* <span data-i18n="teamadd.championship"></span></label>
    </div>
    <div>
      <input type="text" id="championship" name="championship" data-i18n="[placeholder]teamadd.championship;" class='jq-ui-forms' value="" /> 
      <span class="championship_error label label-info hide"></span>
    </div>
     -->
    
  </div>
</div>

<!--
  COMMENT SAVE
-->
<div class="button-form" data-input-mode="hide">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form"><div class="button" data-i18n="teamadd.add"></div></div>  
</div>


