<!-- template page-gamecomments.html -->
<div class="comments background"></div>
<div class="comments content-container">

  <div class="zone-list" style="padding-top:5px">
    <div>
      <div class="list-comment-title unselectable" data-i18n="gamecomment.title"></div>
      <div style="clear:both"></div>      
      <div class="textarea-border">
        <textarea rows="2" cols="40" class="textarea-comment" id="messageText" data-i18n="[placeholder]gamecomment.placeholder;"></textarea>
      </div>
      <div id="throbbertable" align="center">
        <img id="throbber" src="./images/ajax-loader-light.gif" alt="throbber"/>
      </div>       
      <div style="clear:both"></div>    
      <div id="getPhoto" class="form-button-black unselectable" style="width:40%;float: left;" data-i18n="gamecomment.addphoto"></div> 
      <div id="sendComment" class="form-button-black unselectable" style="width:40%;float: right;" data-i18n="gamecomment.sendmessage"></div> 
      <div style="clear:both"></div>
      <div class="list-comment">
      </div>
    </div>

  </div>
</div>
