<!-- template page-club.html -->
<div class="info background"></div>
<div class="info content-container">
<div class="simple">
  
    <div class="ui-grid-a" style="padding-top:10px">
        <div class="ui-block-a" style="width:30%">
        <img src="./images/team-pic.jpg" width="60px" height="60px" />
        </div>
        <div class="ui-block-b titlePlayer" style="width:70%">
        <%= team.name %><br/>
        <%
        if (team.club)
          if (team.club.name) 
            print(team.club.name);
        %>
        </div>
    </div> 
     
    <% 
    var players = team.players;
    for (var i = 0; i < players.length; i++) { 
      print ("Mode Edition "+players[i]+"<br/>");  
    }
    %>      
    
    <div class="ui-grid-a">
	  <div class="ui-block-a">
	    <input type="text" id="team" name="team" data-i18n="[placeholder]gameadd.player;" value="" data-autocomplete="autocompletePlayers" data-autocomplete-onselected="autocompleteTeam"/>
	  </div>
      <div class="ui-block-b">
        <span class="form-button more-options" data-i18n="gameadd.plus"></span>
       </div>
	</div> 
       
    <div style="padding:100px"></div>
  
  </div>
</div>

<!--
  COMMENT SAVE
-->
<div class="button-form">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form">  
  <% if (follow === 'true') { %> 
  <div class="button-selected" id="followButton" data-i18n="message.nofollow"></div> 
  <% } else { %> 
  <div class="button" id="followButton" data-i18n="message.follow"></div>
  <% } %>
  </div>  
</div>