<!-- template page-clubadd.html -->
<div class="blue-screen background"></div>
<div class="blue-screen content-container">
  <div class="zone-list simple">
    <span class="success label label-info hide"></span>
    <div class="form-label unselectable" data-i18n="clubadd.name"></div>
    <div>
      <input type="text" id="name" name="name" data-i18n="[placeholder]clubadd.name;" class='jq-ui-forms' value="" /> 
    </div>
    <div class="name_error label label-info hide"></div>

    <div class="form-label unselectable" data-i18n="clubadd.city"></div>
    <div>
      <input type="text" id="city" name="city" data-i18n="[placeholder]clubadd.city;" class='jq-ui-forms' value="" /> 
    </div>
    <div class="city_error label label-info hide"></div>

    <div class="form-label unselectable" data-i18n="clubadd.address"></div>
    <div>
      <input type="text" id="address" name="address" data-i18n="[placeholder]clubadd.address;" class='jq-ui-forms' value="" /> 
    </div>
    <div class="address_error label label-info hide"></div>
        
    <div class="form-label unselectable" data-i18n="clubadd.zip"></div>
    <div>
      <input type="text" id="zip" name="zip" data-i18n="[placeholder]clubadd.zip" class='jq-ui-forms' value="" /> 
    </div>
    <div class="zip_error label label-info hide"></div>
    
    <div class="form-label unselectable" data-i18n="clubadd.outdoor"></div>
    <div>
      <input type="text" id="outdoor" name="outdoor" data-i18n="[placeholder]clubadd.outdoor" class='jq-ui-forms' value="" /> 
    </div>
    <div class="outdoor_error label label-info hide"></div>
    
    <div class="form-label unselectable" data-i18n="clubadd.indoor"></div>
    <div>
      <input type="text" id="indoor" name="indoor" data-i18n="[placeholder]clubadd.indoor" class='jq-ui-forms' value="" /> 
    </div>
    <div class="indoor_error label label-info hide"></div>        
  </div>
</div>

<!--
  COMMENT SAVE
-->
<div class="button-form" data-input-mode="process">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form"><div class="button" data-i18n="clubadd.add"></div></div>  
</div>

