<!-- template page-about.html -->
<div class="content-container">
  <div class="about" style="color:#666666">
    <div class="logo" style="text-align:center">
      <img src="./images/logo-200x200.png" width="70%"/>
    </div>
    <div class="description" style="font-family:Open Sans;font-size:8px;text-align: center;">
      <b data-i18n="about.informations"></b> v<% print(versionapp) %><br/><br/>
    </div>
    <div class="legal" style="font-family:Open Sans;font-size:10px;text-align: center;">
      @ 2013 by zeNodus SAS.<br/>
      Place Francois Mitterrand <br/> 1 Tour Credit Lyonnais <br/> 59777 Euralille<br/>
      RCS Lille Metropole : 7905905500017
    </div>
    <br/>
    <div class="feedback" style="text-align:center">
      <a href="mailto:support@yeswescore.com?subject=FEEDBACK" class="form-button" style="display:block;position:relative;width: 80%;left: 10%;margin-bottom: 5px;text-decoration: none;background-color: #46b1dd;color: white;" data-i18n="about.submitidea"></a>
      <a href="mailto:support@yeswescore.com?subject=BUG" class="form-button" style="display:block;position:relative;width: 80%;left: 10%;margin-bottom: 5px;text-decoration: none;background-color: #46b1dd;color: white;" data-i18n="about.submitbug"></a>
    </div>

  <div style="padding:10px"></div>
  
  </div>
</div>