<header class="txtcenter">
	<a href="#">Back</a>
	<div class="yesTitle">Yes We Score</div></p>
</header>

<div class="content txtcenter">

	<input type="search" name="search" id="search-basic" value=""
		placeholder="Rechercher par nom, par club, par pseudo" /><br /> <br />
	<ul id="listPlayersView" data-role="listview" data-theme="c"></ul>

</div>
<!-- /content -->

<footer class="txtcenter">
<div class="buttonmnu"><a id="mnufollow" >Suivre</a></div>
<div class="buttonmnu" style="width:34%;"><a id="mnudiffuse" >Diffuser</a></div>
<div class="buttonmnu"><a id="mnuaccount" >Mon Compte</a></div>
</footer>