<div class="bg-blue">

	<form id="frmSigninPlayer" class="form-center">

		<span class="success label label-info hide" style="color: red"></span>

		<div class="control-group">
			<label class="control-label" for="pseudo">Email</label>
		</div>
		
		<div>
				<input type="text" id="email" name="email" placeholder="Email" class="jq-ui-forms-white" value="" /> 
				<span class="email_error label label-info hide"></span>
		</div>

		<div>
			<label class="control-label" for="password">Mot de passe</label>
		</div>
		<div class="controls">
				<input type="text" id="password" name="password" placeholder="Mot de passe" class="jq-ui-forms-white" value="" /> 
				<span class="password_error label label-info hide"></span>
		</div>
		

		<div class="controls">
			<button type="submit" value="Save" class="button">Connecter</button>
		</div>



	</form>

	<br/><br/>

	<div align="center">
		<a href="#players/form" class="ui-input-text">S'enregistrer</a>
		<br/>
		<a href="#players/forget" class="ui-input-text">Mot de passe oubli&eacute;</a>
	</div>

</div>