<div class="gameAdd background"></div>
<div class="gameAdd content-container">
  <div class="simple">
  
    <span class="success label label-info hide"></span>
    
    <div>
    	<label class="form-label" for="name">Nom *</label>
    </div>
    <div>
    	<input type="text" id="name" name="name" placeholder="Nom Complet" value="<%= name %>" /> 
    	<span class="name_error label label-info hide"></span>
    </div>
    <div style="padding-top:10px">
    	<label  class="form-label" for="email">Mail *</label>
    </div>
    <div>
    	<input type="text" id="email" name="email" placeholder="Mail" value="<%= email %>" /> 
    	<span class="email_error label label-info hide"></span>
    </div>
    <div style="padding-top:10px">
    	<label  class="form-label" for="password">Mot de passe *</label>
    </div>
    <div>
    	<input type="text" id="password" name="password" placeholder="Password" value="<%= password %>" />
    	<span class="password_error label label-info hide"></span>
    </div>
    <div style="padding-top:10px">
    	<label class="control-label" for="info">Les options suivantes ne sont pas obligatoires:</label>		
    </div>
    <div>
    	<label  class="form-label" for="nickname">Pseudo</label>
    </div>
    <div>
    	<input type="text" id="nickname" name="nickname" placeholder="Pseudo" value="<%= nickname %>" />
    	<span class="nickname_error label label-info hide"></span>
    </div>
    <div style="padding-top:10px">
    	<label class="form-label" for="rank">Classement</label>
    </div>
    <div>
    	<input type="text" id="rank" name="rank" placeholder="Classement" value="<%= rank %>" /> 
    	<span class="rank_error label label-info hide"></span>
    </div>
    <div style="padding-top:10px">
    	<label  class="form-label" for="idlicense">ID de la licence</label>
    </div>
    <div>
    	<input type="text" id="idlicense" name="idlicense" placeholder="Identifiant de la licence" value="<%= idlicense %>" /> 
    	<span class="idlicense_error label label-info hide"></span>
    </div>
    <!-- FIXME: Find club_id in Ajax -->
    <div style="padding-top:10px">
    	<label class="form-label" for="club">Club</label>
    </div>
    <div>
    	<input type="text" id="club" name="club" placeholder="Nom du Club" value="<%= club %>" />
    	<ul id="suggestions" data-role="listview" data-inset="true"></ul>
               <span class="club_error label label-info hide"></span>
    </div>
    <div style="padding-top:10px">
    	<label class="form-label" for="clubid">ID du Club</label>
    </div>
    <div>
    	<input type="text" id="clubid" name="clubid" placeholder="Identifiant du Club" value="<%= idclub %>" /> 
    	<span class="clubid_error label label-info hide"></span>
    </div>
    
    
    <input type="hidden" id="playerid" value="<%= playerid %>" class="input" /> 
    <input type="hidden" id="token" value="<%= token %>" class="input" />


  </div>
</div>


<!--
  COMMENT SAVE
-->
<div class="button-form" data-input-mode="none">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form"><div class="button">ENREGISTRER</div></div>  
</div>

	