<form id="frmForgetPlayer" class="ui-body ui-body-b ui-corner-all">

	<span class="success label label-info hide" style="color: red"></span>

	<div class="control-group">
		<label class="control-label" for="pseudo">Email</label>
		<div class="controls">
			<input type="text" id="email" name="email" placeholder="Email" class='jq-ui-forms' value="" /> 
			<span class="email_error label label-info hide"></span>
		</div>
	</div>


	<div class="control-group">
		<div class="controls">
			<button type="submit" value="Save" class="button">Demande de mot de passe</button>
		</div>
	</div>


</form>

<hr />

<div align="center">
	<a href="#players/form" class="button">S'enregistrer</a>
	<a href="#players/forget" class="button">Mot de passe oubli&eacute;</a>
</div>

