<div class="bg-blue">

<form id="frmForgetPlayer" class="form-center">

	<span class="success label label-info hide" style="color: red"></span>

	<div>
		<label class="control-label" for="pseudo">Email</label>
	</div>
	<div>
		<input type="text" id="email" name="email" placeholder="Email" class='jq-ui-forms-white' value="" /> 
		<span class="email_error label label-info hide"></span>
	</div>


	<div>
		<button type="submit" value="Save" class="button">Demande de mot de passe</button>
	</div>


</form>

<br/>

<div align="center">
	<a href="#players/form" class="button">S'enregistrer</a>
	<a href="#players/forget" class="button">Mot de passe oubli&eacute;</a>
</div>

</div>

