<div class="gameAdd background"></div>
<div class="gameAdd content-container">
  <div class="simple">

<span class="success label label-info hide" style="color: red"></span>

<h3><%= player.name %> alias <%= player.nickname %></h3>
<br/>
Club : <%= player.club.name %> <a href="#clubs/<%= player.club.id %>">Plus d'infos</a>
<br /> Classement : <%= player.rank %><br /> 

  </div>
</div>

<!--
  COMMENT SAVE
-->
<div class="button-form">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form">  
  <% if (follow === 'true') { %> 
  <div class="button" id="followButton">Ne plus suivre ce joueur</div> 
  <% } else { %> 
  <div class="button" id="followButton">Suivre ce joueur</div>
  <% } %>
  </div>  
</div>