<form id="frmAddPlayer" class="form-center">

<div class="bg-blue">

<span class="success label label-info hide" style="color:red"></span>

<div>
	<label  class="ui-input-text" for="name">Nom *</label>
</div>
<div>
	<input type="text" id="name" name="name" placeholder="Nom Complet" class='jq-ui-forms-white' value="<%= name %>" /> 
	<span class="name_error label label-info hide"></span>
</div>
<div style="padding-top:10px">
	<label  class="ui-input-text" for="email">Mail *</label>
</div>
<div>
	<input type="text" id="email" name="email" placeholder="Mail" class='jq-ui-forms-white' value="<%= email %>" /> 
	<span class="email_error label label-info hide"></span>
</div>
<div style="padding-top:10px">
	<label  class="ui-input-text" for="password">Mot de passe *</label>
</div>
<div>
	<input type="text" id="password" name="password" placeholder="Password" class='jq-ui-forms-white' value="<%= password %>" />
	<span class="password_error label label-info hide"></span>
</div>
<div style="padding-top:10px">
	<label class="control-label" for="info">Les options suivantes ne sont pas obligatoires:</label>		
</div>
<div>
	<label  class="ui-input-text" for="nickname">Pseudo</label>
</div>
<div>
	<input type="text" id="nickname" name="nickname" placeholder="Pseudo" class='jq-ui-forms-white' value="<%= nickname %>" />
	<span class="nickname_error label label-info hide"></span>
</div>
<div style="padding-top:10px">
	<label class="ui-input-text" for="rank">Classement</label>
</div>
<div>
	<input type="text" id="rank" name="rank" placeholder="Classement" class='jq-ui-forms-white' value="<%= rank %>" /> 
	<span class="rank_error label label-info hide"></span>
</div>
<div style="padding-top:10px">
	<label  class="ui-input-text" for="idlicense">ID de la licence</label>
</div>
<div>
	<input type="text" id="idlicense" name="idlicense" placeholder="Identifiant de la licence" class='jq-ui-forms-white' value="<%= idlicense %>" /> 
	<span class="idlicense_error label label-info hide"></span>
</div>
<!-- FIXME: Find club_id in Ajax -->
<div style="padding-top:10px">
	<label class="ui-input-text" for="club">Club</label>
</div>
<div>
	<input type="text" id="club" name="club" placeholder="Nom du Club" class='jq-ui-forms-white' value="<%= club %>" />
	<ul id="suggestions" data-role="listview" data-inset="true"></ul>
           <span class="club_error label label-info hide"></span>
</div>
<div style="padding-top:10px">
	<label class="ui-input-text" for="clubid">ID du Club</label>
</div>
<div>
	<input type="text" id="clubid" name="clubid" placeholder="Identifiant du Club" class='jq-ui-forms-white' value="<%= idclub %>" /> 
	<span class="clubid_error label label-info hide"></span>
</div>


<input type="hidden" id="playerid" value="<%= playerid %>" class="input" /> 
<input type="hidden" id="token" value="<%= token %>" class="input" />



</div>

<!--
  COMMENT SAVE
-->
<div class="button-form">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
</div>

<div class="link-form"><button type="submit" value="Save" class="button">Enregistrer</button></div>

</form>
	