<div class="playerInfo background"></div>
<div class="playerInfo content-container">
  <div class="simple">
  
    <div class="ui-grid-a" style="padding-top:10px">
        <div class="ui-block-a" style="width:30%">
        PHOTO
        </div>
        <div class="ui-block-b titlePlayer" style="width:70%">
        <%= player.name %>
        </div>
    </div> 
     
    <hr/>
    <b>Club :</b> <%= player.club.name %>
    <br/><a href="#clubs/<%= player.club.id %>">Plus d'infos</a>
    <hr/>
    <b>Classement :</b> <%= player.rank %>
    <hr/>
    <b>Pseudo :</b> <%= player.nickname %>
    
    <br/>
    
    <div class="account">
      <a href="#games/me/<%= player.id %>" id="lastResult">Derniers resultats</a>
    </div>
 
  </div>
</div>

<!--
  COMMENT SAVE
-->
<div class="button-form">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form">  
  <% if (follow === 'true') { %> 
  <div class="button-selected" id="followButton">Ne plus suivre</div> 
  <% } else { %> 
  <div class="button" id="followButton">Suivre</div>
  <% } %>
  </div>  
</div>