<div class="gameAdd background"></div>
<div class="gameAdd content-container">
  <div class="simple" style="padding-top:60px">

	<span class="success label label-info hide" style="color: red"></span>

	<div>
		<label class="form-label" for="pseudo">Email</label>
	</div>
	
	<div>
	  <input type="text" id="email" name="email" placeholder="Email" value="" /> 
	  <span class="email_error label label-info hide"></span>
	</div>

	<div>
	  <label class="form-label" for="password">Mot de passe</label>
	</div>
  
	<div>
	  <input type="text" id="password" name="password" placeholder="Mot de passe" value="" /> 
	  <span class="password_error label label-info hide"></span>
	</div>
  
    <div class="form-button-black"> 
      <span id="signinUser">Connexion</span>
    </div>
    
    <div class="form-button-white">      
      <span id="forgetPassword">Mot de passe oubli&eacute;</span>
    </div>  


 </div>
 
</div>