<% if(players.length==0) { %>
<li><p class="message">Aucun resultat</p></li>
<% } %> 
<% for (var i = 0; i < players.length; i++) { 

player = players[i]; 

if (player.error!=='undefined') 
{
   //break;
}

%>
<li id="#players/<%= player.id %>">

<div class="ui-grid-a">
  <div class="ui-block-a" style="width: 20%;">
  &nbsp;
  </div>
  <div class="ui-block-b" style="width: 80%;">
  <div class="game-player"><%= player.name %></div>
  <div class="infos"><%= player.club.name %>  ( <%= player.rank %> )</div>
  </div>
  
</div>

</li>
<% 
} 
%>
