<div class="gameAdd background"></div>
<div class="gameAdd content-container">
  <div class="simple">

		<span class="success label label-info hide" style="color: red"></span>

		<div class="control-group">
			<label class="control-label" for="pseudo">Email</label>
		</div>
		
		<div>
				<input type="text" id="email" name="email" placeholder="Email" class="jq-ui-forms-white" value="" /> 
				<span class="email_error label label-info hide"></span>
		</div>

		<div>
			<label class="control-label" for="password">Mot de passe</label>
		</div>
		<div class="controls">
				<input type="text" id="password" name="password" placeholder="Mot de passe" class="jq-ui-forms-white" value="" /> 
				<span class="password_error label label-info hide"></span>
		</div>
		

	<br/><br/>

	<div align="center">
		<a href="#players/forget" class="ui-input-text">Mot de passe oubli&eacute;</a>
	</div>

 </div>
 
</div>

<!--
  COMMENT SAVE
-->
<div class="button-form" data-input-mode="none">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form"><div class="button">CONNECTER</div></div>
</div>

