<div class="gameAdd background"></div>
<div class="gameAdd content-container">
  <div class="simple">
  
    <span class="success label label-info hide"></span>
    
    <div>
    	<label  class="form-label" for="name" data-i18n="playerform.name"></label>
    </div>
    <div>
    	<input type="text" id="name" name="name" data-i18n="[placeholder]playerform.name;" value="<%= name %>" /> 
    	<span class="name_error label label-info hide"></span>
    </div>
    <div style="padding-top:10px">
    	<label  class="form-label" for="email" data-i18n="playerform.mail"></label>
    </div>
    <div>
    	<input type="text" id="email" name="email" data-i18n="[placeholder]playerform.mail;" value="<%= email %>" /> 
    	<span class="email_error label label-info hide"></span>
    </div>
    <div style="padding-top:10px">
    	<label  class="form-label" for="password" data-i18n="playerform.password"></label>
    </div>
    <div>
    	<input type="text" id="password" name="password" data-i18n="[placeholder]playerform.password;" value="<%= password %>" />
    	<span class="password_error label label-info hide"></span>
    </div>
    <div>
    	<label  class="form-label" for="nickname" data-i18n="playerform.pseudo"></label>
    </div>
    <div>
    	<input type="text" id="nickname" name="nickname" data-i18n="[placeholder]playerform.pseudo;" value="<%= nickname %>" />
    	<span class="nickname_error label label-info hide"></span>
    </div>
    <div style="padding-top:10px">
    	<label class="form-label" for="rank" data-i18n="playerform.rank"></label>
    </div>
    <div>
    	<input type="text" id="rank" name="rank" data-i18n="[placeholder]playerform.rank;" value="<%= rank %>" /> 
    	<span class="rank_error label label-info hide"></span>
    </div>
    <div style="padding-top:10px">
    	<label  class="form-label" for="idlicense" data-i18n="playerform.idlicence"></label>
    </div>
    <div>
    	<input type="text" id="idlicense" name="idlicense" data-i18n="[placeholder]playerform.idlicence;" value="<%= idlicense %>" /> 
    	<span class="idlicense_error label label-info hide"></span>
    </div>
    <!-- FIXME: Find club_id in Ajax -->
    <div style="padding-top:10px">
    	<label class="form-label" for="club" data-i18n="playerform.clubname"></label>
    </div>
    <div>
    	<input type="text" id="club" name="club" data-i18n="[placeholder]playerform.clubname;" value="<%= club %>" />
    	<ul id="suggestions" data-role="listview" data-inset="true"></ul>
               <span class="club_error label label-info hide"></span>
    </div>
    
    <input type="hidden" id="clubid" value="<%= idclub %>" />
    <input type="hidden" id="playerid" value="<%= playerid %>"  /> 
    <input type="hidden" id="token" value="<%= token %>" />


  </div>
</div>


<!--
  COMMENT SAVE
-->
<div class="button-form" data-input-mode="hide">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form"><div class="button" id="savePlayer" data-i18n="playerform.save"></div></div>  
</div>

	