<div class="gameAdd background"></div>
<div class="gameAdd content-container">
  <div class="simple">
	  <div>
		  <label class="form-label" data-i18n="playersignin.email"></label>
	  </div>
	
	  <div>
	    <input type="text" id="email" name="email" data-i18n="[placeholder]playersignin.email;" value="" />
	  </div>

    <div class="email_error label label-error hide"></div>

	  <div>
	    <label class="form-label" for="password" data-i18n="playersignin.password"></label>
	  </div>
  
	  <div>
	    <input type="password" id="password" name="password" data-i18n="[placeholder]playersignin.password" value="" /> 
	  </div>
  
    <div class="password_error label label-error hide"></div>

	  <div class="success label label-info hide"></div>
    <div class="error label label-error hide"></div>

    <div class="form-button-black"> 
      <span id="signinUser" data-i18n="playersignin.connexion"></span>
    </div>
    
    <div class="form-button-white">      
      <span id="forgetPassword" data-i18n="playersignin.passwordforgotten"></span>
    </div>  
  </div>
</div>