<div class="gameAdd background"></div>
<div class="gameAdd content-container">
  <div class="">

    <span class="success label label-info hide"></span>
    
    <div style="padding-top:10px;padding-bottom:10px;">
    <span data-i18n="search.introform"></span>    
    </div>


    <div class="search-grid">
    <div class="ui-grid-a">
    
	  <div class="ui-block-a">
        <label class="form-label" data-i18n="search.geo"></label>
      </div>
	  <div class="ui-block-b">
        <input id="searchgeo" type="checkbox" name="searchgeo" value="" />         
	  </div>
      <div class="ui-block-a">
        <span data-i18n="search.infogeo"></span> [<%= gps %>]
      </div>    
      <div class="ui-block-b">
       
      </div>      
      
          
      <div class="ui-block-a">
        <label class="form-label" data-i18n="search.myclub"></label> 
        </div>
      <div class="ui-block-b">
        <input id="searchclub" type="checkbox" name="searchmyclub" value="" />         
      </div>
      <div class="ui-block-a">
        <a href="#players/form" data-i18n="search.infomyclub" data-js-navigate></a>
      </div>
      <div class="ui-block-b">
         
      </div>

      <div class="ui-block-a">
        <label class="form-label" data-i18n="search.gamefollowed"></label>
        </div>
      <div class="ui-block-b">
        <input id="searchgamefollowed" type="checkbox" name="searchgamefollowed" value="" />         
      </div> 
      <div class="ui-block-a">
        <a href="#games/follow" data-i18n="search.infogamefollowed" data-js-navigate></a>   
      </div>
      <div class="ui-block-b">
             
      </div>      
            
      <!--
      <div class="ui-block-a">
        <label class="form-label" data-i18n="search.clubfollowed"></label> 
        </div>
      <div class="ui-block-b">
          <input type="checkbox" name="searchclubfollowed" value="">         
      </div>  
      <div class="ui-block-a">
      <span data-i18n="search.infoclubfollowed"></span>
      </div>
      -->
            
      <!-- 
      <div class="ui-block-a">
        <label class="form-label" data-i18n="search.playerfollowed"></label>
        </div>
      <div class="ui-block-b">
          <input type="checkbox" name="searchplayerfollowed" value="">         
      </div>    
      <div class="ui-block-a">
      <span data-i18n="search.infoplayerfollowed"></span>      
      </div>   
      
       -->
              
    </div> 
    </div>
    
   

  </div>
</div>


