<div data-substep="0">
  <!-- on highlight ce qui est important -->
  <div class="bglayer" style="height:70px;bottom:0px;left:0px;width: 66%;box-sizing: border-box;top: initial;"></div>
  <div class="bglayer" style="margin:auto;top:0px;bottom:70px;box-sizing: border-box;height:initial;"></div>
  <!-- message -->
  <div class="message wizard-bgcolor">
    <h1 data-i18n="wizard.step-profil.title"></h1>
    <p  data-i18n="wizard.step-profil.sub0.p1"></p>
    <p  data-i18n="[html]wizard.step-profil.sub0.p2"></p>
    <div class="button skip" style="color: #E0E0E0" data-i18n="wizard.button.skip">skip wizard</div>
  </div>
</div>

<div data-substep="1">
  <div class="bglayer" style="margin:auto;top:0px;height:240px;box-sizing: border-box;"></div>
  <div class="bglayer" style="margin:auto;top:300px;bottom:0px;box-sizing: border-box;height:initial;"></div>
  <div class="message wizard-bgcolor" style="top: initial;bottom: 30px;background-color: #41c68f">
    <h1 data-i18n="wizard.step-profil.title"></h1>
    <p data-i18n="[html]wizard.step-profil.sub1.p1"></p>
    <div class="button skip" data-i18n="wizard.button.skip">skip wizard</div>
  </div>
</div>

<div data-substep="2">
  <div class="bglayer" style="margin:auto;top:0px;height:55px;box-sizing: border-box;"></div>
  <div class="bglayer" style="margin:auto;top:110px;bottom:0px;box-sizing: border-box;height:initial;"></div>
  <div class="message wizard-bgcolor" style="top: initial;bottom: 30px;background-color: #41c68f">
    <h1 data-i18n="wizard.step-profil.title">Editez votre profil</h1>
    <p  data-i18n="wizard.step-profil.sub2.p1">Entrez votre nom</p>
    <div class="button next3" style="" data-i18n="wizard.button.continue">continue</div>
    <div class="button skip" data-i18n="wizard.button.skip">skip wizard</div>
  </div>
</div>

<div data-substep="3">
  <div class="bglayer" style="margin:auto;top:0px;height:105px;box-sizing: border-box;"></div>
  <div class="bglayer" style="margin:auto;top:160px;bottom:0px;box-sizing: border-box;height:initial;"></div>
  <div class="message wizard-bgcolor" style="top: initial;bottom: 30px;background-color: #41c68f">
    <h1 data-i18n="wizard.step-profil.title">Editez votre profil</h1>
    <p  data-i18n="wizard.step-profil.sub3.p1">Entrez votre classement</p>
    <div class="button next4" style="" data-i18n="wizard.button.continue">continue</div>
    <div class="button skip" data-i18n="wizard.button.skip">skip wizard</div>
  </div>
</div>

<div data-substep="4">
  <div class="bglayer" style="margin:auto;top:0px;height:45px;box-sizing: border-box;"></div>
  <div class="bglayer" style="margin:auto;top:210px;bottom:0px;box-sizing: border-box;height:initial;"></div>
  <div class="message wizard-bgcolor" style="top: initial;bottom: 30px;background-color: #41c68f">
    <h1 style="margin:0" data-i18n="wizard.step-profil.title">Editez votre profil</h1>
    <p style="margin:0;margin-bottom: 3px;" data-i18n="wizard.step-profil.sub4.p1">Choisissez un club</p>
    <!-- <div class="button continue" style="">continue</div> -->
    <div class="button next5" style="" data-i18n="wizard.button.continue">continue</div>
    <div class="button skip" style="margin:0" data-i18n="wizard.button.skip">skip wizard</div>
  </div>
</div>

<div data-substep="5">
  <div class="bglayer" style="margin:auto;top:0px;bottom:110px;box-sizing: border-box;height:initial;"></div>
  <div class="message wizard-bgcolor" style="top: initial;bottom: 120px;background-color: #41c68f">
    <h1 style="margin:0" data-i18n="wizard.step-profil.title">Editez votre profil</h1>
    <p  style="margin:0;margin-bottom: 3px;" data-i18n="wizard.step-profil.sub5.p1">Une fois votre club choisi, il ne vous reste qu'à enregistrer</p>
    <div class="button skip" style="margin:0" data-i18n="wizard.button.skip">skip wizard</div>
  </div>
</div>

<div data-substep="6">
  <div class="bglayer" style="margin:auto;top:0px;bottom:0px;box-sizing: border-box;height:initial;"></div>
  <div class="message wizard-bgcolor">
    <h1 data-i18n="wizard.step-profil.title">Editez votre profil</h1>
    <p data-i18n="wizard.step-profil.sub6.p1">Félicitation, vous avez enregistré votre profil.</p>
    <p data-i18n="wizard.step-profil.sub6.p2">A vous de jouer, explorez yeswescore, partagez vos matchs, consultez les résultats de vos amis</p>
    <div class="button continue" style="" data-i18n="wizard.button.finish">continue</div>
    <!-- <div class="button skip" data-i18n="wizard.button.skip">skip wizard</div> -->
  </div>
</div>