<div data-substep="0">
  <div class="message wizard-bgcolor">
    <h1>Editez votre profil</h1>
    <p>Pour trouver facilement les résultats de votre club ou suivre des amis, veuillez remplir votre profil</p>
    <p>Cliquez sur "<b>MON COMPTE</b>" en bas de l'écran</p>
    <div class="button skip" style="color: #E0E0E0">skip wizard</div>
  </div>
</div>

<div data-substep="1">
  <div class="message wizard-bgcolor" style="top: initial;bottom: 30px;background-color: #41c68f">
    <h1>Editez votre profil</h1>
    <p>Cliquez sur "<b>MON PROFIL</b>"</p>
    <div class="button skip">skip wizard</div>
  </div>
</div>

<div data-substep="2">
  <div class="message wizard-bgcolor" style="top: initial;bottom: 30px;background-color: #41c68f">
    <h1>Editez votre profil</h1>
    <p>Entrez votre nom</p>
    <div class="button skip">skip wizard</div>
  </div>
</div>

<div data-substep="3">
  <div class="message wizard-bgcolor" style="top: initial;bottom: 30px;background-color: #41c68f">
    <h1>Editez votre profil</h1>
    <p>Entrez votre classement</p>
    <div class="button skip">skip wizard</div>
  </div>
</div>

<div data-substep="4">
  <div class="message wizard-bgcolor" style="top: initial;bottom: 30px;background-color: #41c68f">
    <h1 style="margin:0">Editez votre profil</h1>
    <p style="margin:0;margin-bottom: 3px;">Choisissez un club</p>
    <!-- <div class="button continue" style="">continue</div> -->
    <div class="button skip" style="margin:0">skip wizard</div>
  </div>
</div>

<div data-substep="5">
  <div class="message wizard-bgcolor" style="top: initial;bottom: 120px;background-color: #41c68f">
    <h1 style="margin:0">Editez votre profil</h1>
    <p  style="margin:0;margin-bottom: 3px;">Une fois votre club choisi, il ne vous reste qu'à enregistrer</p>
    <div class="button skip" style="margin:0">skip wizard</div>
  </div>
</div>

<div data-substep="6">
  <div class="message wizard-bgcolor">
    <h1>Editez votre profil</h1>
    <p>Félicitation, vous avez enregistré votre profil.</p>
    <p>Si vous cliquez sur continuer, vous apprendrez a saisir les résultats d'un match.</p>
    <div class="button continue" style="">continue</div>
    <div class="button skip">skip wizard</div>
  </div>
</div>