<div class="welcome">
  <div class="bglayer"></div>
  <div class="message wizard-bgcolor">
    <h1 data-i18n="wizard.step-welcome.welcome">Welcome !</h1>
    <p  data-i18n="wizard.step-welcome.thankyou">Thanks for downloading YesWeScore</p>
    <!-- <p  data-i18n="wizard.step-welcome.explanation">You can quit this wizard at any time by clicking "skip" button.</p> -->
    <div class="button continue" data-i18n="wizard.step-welcome.continue">continue</div>
    <div class="button skip" data-i18n="wizard.step-welcome.skip">skip wizard</div>
  </div>
</div>