/*
  web fonts
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/styles/webfonts/opensans-400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(/styles/webfonts/opensans-700.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url(/styles/webfonts/opensans-800.woff) format('woff');
}
@font-face {
  font-family: 'Sosa';
  font-style: normal;
  font-weight: normal;
  src: url(/styles/webfonts/sosa-regular.woff) format('woff');
}



/**********************************************************
  mylib
**********************************************************/
input.mylib-forms { 
	display:block;
	padding:2px;
	border:solid 1px #ededed;
	outline:0;
	background:#ededed;
	-webkit-border-radius:10px; border-radius:10px;
  -webkit-appearance:none;
}

/**********************************************************
	WP8 specifics.
**********************************************************/

@media screen and (orientation: portrait) {
    @-ms-viewport {
        width: 320px; /* should be device-width
                         but there is a bug in ie10 (puts screen resolution, not css resolution)
                         @see http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
                      */
        user-zoom: fixed;
        max-zoom: 1;
        min-zoom: 1;
    }
}

/**********************************************************
	GENERAL UI ELEMENTS
**********************************************************/

body {
  color:#000;
  background-color: white;
  margin: 0;
  padding: 0;
}

p {
  color:#000;
  font-family:Open Sans;
}

/**********************************************************
	header
**********************************************************/

#header {
  position: fixed;
  
  top: 0px;
  left: 0px;
  width: 100%;
  height: 44px;
  
  color: #FFF;
  background-color:#19171c;
  border-bottom:  1px solid #535154;
}

#header .backButton {
  position: absolute;
  
  top: 13px;
  left: 7px;
  width:0;
  height:0;
  
  border-right:11px solid white;
  border-top:11px solid transparent;
  border-bottom:11px solid transparent;
}

#header .logo {
  position: absolute;
  
  top: 8px;
  width:100%;
  
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-weight:bolder;
  font-size:9px;
  text-align:center;
  text-overflow:ellipsis;
  white-space:nowrap;
  color:#45b1db;
}

#header .title {
  position: absolute;
  
  top: 20px;
  width: 100%;
  
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size:12px;
  text-overflow:ellipsis;
  white-space:nowrap;
  text-align: center;
  color: white;
}

#header .connectionStatus {
  position:absolute;

  top: 13px;
  right: 13px;
}

/**********************************************************
	NAV BAR
**********************************************************/

/*
  navbar height is 42 :)
*/
#navbar {
  z-index: 11;
  height:42px;
  position: fixed;
  bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  overflow: visible;
  
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

#navbar > div {
  position: relative;
  display: inline-block;
  width: 33%; /* navbar splitted in 3 */
  height: 42px;
  bottom: 0px;
  overflow: visible;
  text-align: center;
}

/* background button design: rounded + trapeze */
#navbar .background.rounded {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  
  width: 75px;
  height:43px;
  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
  background-color: #19171c;
  
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

#navbar .background.trapeze {
  position: absolute;
  top:10px;
  left: 50%;
  margin-left: -40px;
  
  width: 85px;
  height:33px;
  
  border-bottom:33px solid #19171c;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

#navbar a {
  position: absolute;

  left: 50%;
  
  width: 75px;
  height: 43px;
  margin-left: -35px;
  
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size:12px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  line-height:14px;
  
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

/*
#navbar a:active, #navbar a:focus, #navbar a:active:focus,  #navbar .selected{
  background-image:none; 
  color:#45b1db !important;
  font-weight:bold;
  font-size:12px;
  height:40px;
  width:78px;
  line-height:40px;
  text-transform:uppercase;
}


#navbar a:not(:last-of-type) {
  border-right:0px;
}*/

/**********************************************************
	BUTTON STYLES
**********************************************************/

/*
.ui-disabled {
  z-index: 1;
}

.button {
  width:90%;	
  z-index:1;
  color:#fff;
  background-image:none; 
  background-color:#45b1db;
  font-size:16px;
  font-weight:normal;
  text-transform:uppercase;
  -webkit-border-radius:0px; border-radius:0px;
}

.button-green {
  width:90%;	
  z-index:1;
  color:#fff;
  background-image:none; 
  background-color:#40c68f;
  font-size:16px;
  font-weight:normal;
  text-transform:uppercase;
  -webkit-border-radius:0px; border-radius:0px;
}
  */

/***
  pictos
  */
.button-filter {
  position: relative;
  height:30px;
  width:30px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  background:#46b1db;
}

.button-filter .oval {
  position: absolute;
  height:3px;
  width:14px;
  left: 8px;
  border-radius: 7px / 3px;
  -moz-border-radius:7px / 3px;
  -webkit-border-radius: 7px / 3px;
  background:white;
}
.button-filter .oval:nth-child(1) {
  top: 8px;
}
.button-filter .oval:nth-child(2) {
  top: 14px;
}
.button-filter .oval:nth-child(3) {
  top: 20px;
}

.button-search {
  font-family: 'Sosa', sans-serif;
  font-size: 20px;
  color: #5e5e5e;
}

/**********************************************************
	UL > LI 
**********************************************************/
ul {
  padding: 0;
  margin: 0;
}

ul > li {
	width:100%; 
	list-style:none;
	background:#fff;
	border-top:1px solid #8c8c8e;
	height:100px;
}
ul > li:first-child {
  border-top:2px solid #c5c5c5;
}

ul > li > a {
	width:100%; 
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	border-bottom:1px solid black;
	color:#000;
	padding-left:4px;
}


ul > li.player {
	width:100%; 
	list-style:none;
	background:#fff;
	padding:5px;
	border-top:1px solid rgba(80,80,80,.5);
	height:50px;
} 

ul > li.player > a {
	width:100%; 
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	border-bottom:1px solid black;
	color:#000;
	line-height:20px;
}

/**********************************************************
	CONTENT AREA
**********************************************************/

#content{
  z-index: 5;
  padding-top: 44px; /* #header */
  padding-bottom: 42px; /* #navbar */
  padding-left: 13px;
  padding-right: 13px;
  
  width: 100%;
  
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

.panel {
  
}

/**********************************************************
	FORM ELEMENTS
**********************************************************/

/*
.bg-blue {
  color:#fff;
  background-image:none; 
  background-color:#45b1db;   		
  width:100%;
  height:100%;
  font-size:18px;	
  padding:20px;
  font-weight:bold;

}

.form-center {
  margin-left:auto;
  margin-right:auto;
  width:90%;  
}


#jQUi label {
  color: #fff;
  font-weight: normal;
  font-family:Open Sans;
}

.ui-input-text {
  color:#fff;
  font-weight:bold;  	
}

input.jq-ui-forms-white { 
  color:#000;
  background:#fff;
  -webkit-border-radius:12px; border-radius:12px;
  height:30px;
  width:100%;	
  padding-left:10px;
}

input.jq-ui-forms { 
	color:#000;
	background:#EDEDED;
	-webkit-border-radius:6px; border-radius:6px;
	width:95%;	
}
*/

/**********************************************************
	TABLE
**********************************************************/
.ui-grid-a,.ui-grid-b,.ui-grid-c,.ui-grid-d {
	overflow: hidden
}

.ui-block-a,.ui-block-b,.ui-block-c,.ui-block-d,.ui-block-e {
  position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}


.ui-grid-a .ui-block-a,.ui-grid-a .ui-block-b {
	width: 49.95%
}

.ui-grid-a>:nth-child(n) {
	width: 50%;
	margin-right: -.5px
}

.ui-grid-a .ui-block-a {
	clear: left
}

.ui-grid-b .ui-block-a,.ui-grid-b .ui-block-b,.ui-grid-b .ui-block-c {
	width: 33.25%
}

.ui-grid-b>:nth-child(n) {
	width: 33.333%;
	margin-right: -.5px
}

.ui-grid-b .ui-block-a {
	clear: left
}

.ui-grid-c .ui-block-a,.ui-grid-c .ui-block-b,.ui-grid-c .ui-block-c,.ui-grid-c .ui-block-d
	{
	width: 24.925%
}

.ui-grid-c>:nth-child(n) {
	width: 25%;
	margin-right: -.5px
}

.ui-grid-c .ui-block-a {
	clear: left
}

.ui-grid-d .ui-block-a,.ui-grid-d .ui-block-b,.ui-grid-d .ui-block-c,.ui-grid-d .ui-block-d,.ui-grid-d .ui-block-e
	{
	width: 19.925%
}

.ui-grid-d>:nth-child(n) {
	width: 20%
}

.ui-grid-d .ui-block-a {
	clear: left
}

/**********************************************************
	SCOREBOARD
**********************************************************/

#displayViewScoreBoard {
  background-color:#45b1db;
  width:90%;
  margin:0 auto;
}

.div_set_scoreboard {
  position:absolute;
  right: 0px;
  
  text-align: center;
  z-index:1;
  color:#000;
  display:inline-block;
  
  font-family: Open Sans;
  font-weight:bold;
  font-size:14px;
  line-height:20px;

  text-align:center;
  height:20px;
  width:18px;
  text-overflow:ellipsis; 
  -webkit-border-radius:6px; border-radius:6px;
  background-image:none; 
  background:#e3e3e3;
}

.div_set_grey {
  color:#7C7C7E;
}

.div_score_mini {
  font-weight:normal;
  font-size:10px;	
}

.div_score_mini_legend {
  font-weight:normal;
  font-size:10px;	
  color:#fff;
  text-align:center;
}


.div_score_player {
  font-weight:bold;
  font-size:16px;	
  color:#000;
  text-decoration:none;
}

.div_set {
  font-weight:normal;
  color:#000;		
}

.div_score_menu {
  font-weight:normal;
  font-size:10px;
  border-right:1px;
  border-style:dotted;	
  text-align:center;
  height:100%;
}

.div_score_menu_right {
  font-weight:normal;
  font-size:11px;
  text-align:center;
  height:100%;
}

#ifrmScore {
  width:94%;
  margin:0 auto;
  background-color:#fff;	
}



.div_score_button {
  text-align:center;
  margin-left:auto;
  margin-right:auto; 
  margin-top:5px;
  padding-top:8px;
  height:48px;	
  width:48px;
  color:#000;
  background-color:#fff;
  font-size:28px;
  font-weight:bold;
  -webkit-border-radius:6px; border-radius:6px;   
}

.score_bottom {	
  text-align:center;
  margin-top:10px;
  background-color:#fff;
}

.button_bottom {
  margin-left:auto;
  margin-right:auto; 
  padding-top:5px;
  width:90px;	
  height:44px;
  z-index:1;
  color:#fff;
  background-image:none; 
  background-color:#45b1db;
  font-size:14px;
  font-weight:bold;
  -webkit-border-radius:22px; border-radius:22px;
}


.button_comment {
  width:90%;
  height:40px;
  padding-top:10px;	
  z-index:1;
  color:#fff;
  background-image:none; 
  background-color:#40c68f;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  -webkit-border-radius:0px; border-radius:0px;
}

.timer {
  font-size:18px;
  font-weight:bold;	
}

/**********************************************************
	Templates
**********************************************************/

#listGamesView a {
  display:block; /* text-overflow: ... can only apply on block elements */
  
  padding-right: 10px;
  
  color: #44b1da;
  text-decoration: none;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: bold;
  
  /* trunk text */
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

#listGamesView li {
  height:87px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

#listGamesView .game-status {
  color: #44b1da;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

#listGamesView .game-player {
  font-family: Open Sans;
  font-size: 12px;
  
  line-height: 10px;
  
  /* trunk text */
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

/**********************************************************
	COMMENT
**********************************************************/

/*
.bg-green {
  color:#fff;
  background-image:none; 
  background-color:#40c68f;  
  width:100%;
  height:100%; 		
  text-align:center;
  font-size:18px;	
  padding-top:10px;
  font-weight:bold;
}

.list-comment {
  background-color:#fff;
  text-align:left; 
  color:#000;
  width:96%; 	
  margin-left:auto;
  margin-right:auto;
  padding:5px;
}

.infocomment {
  font-weight:bold;
  font-size:13px;	
}

.comment {
  font-weight:normal;
  font-size:14px;	
  border-top:0px;
  border-right:0px;
  border-left:0px;
  border-bottom:1px;
  border-style:dotted;
  padding:10px;
}

.textarea-border {
  width:96%;
  margin-left:auto;
  margin-right:auto; 
  background-color:#fff;
  padding:10px;
}

.textarea-comment {
  width:100%;
  height:100px;
}

#sendButton {
	
}

.button_comment_send {
  padding-top:12px;
  width:90px;	
  height:44px;
  z-index:1;
  color:#fff;
  background-image:none; 
  background-color:#40c68f;
  font-size:14px;
  font-weight:normal;  
  -webkit-border-radius:22px; border-radius:22px;
}

.label-info {
	color:red;
}
*/

