/**********************************************************
	GENERAL UI ELEMENTS
**********************************************************/

body {
  color:#000;
}

p {
  color:#000;
  font-family:Open Sans;
}

/**********************************************************
	header
**********************************************************/

#jQUi > #header {
  background-image:none;
  background-color:#000;
  height:43px;	
}


#header  h1 {
  margin-top:10px;
  font-size:12px;
  font-weight:bold;
  /*font-family: 'Open Sans';*/
  text-transform:uppercase;
}

#header  div#pageLogo {
  position:absolute;
  overflow:hidden;
  width:100%;
  z-index:1;
  text-align:center; 
  height:48px; 
  font-family: Helvetica, Arial, sans-serif;
  font-weight:normal;
  font-size:10px;
  /*line-height:48px;*/
  text-align:center;
  text-overflow:ellipsis;
  white-space:nowrap;
  color:#45b1db;
  margin-top:10px;
}

.pageLogoPoint {
  font-size:18px;
  font-weight:bold;	
}

#header  div#pageOnline {
  display:block;
  position:absolute;
  right:0px;	
  padding:0px 12px;
  margin-top:12px;
}

/**********************************************************
	BUTTON STYLES
**********************************************************/

.button {
  width:300px;	
  z-index:1;
  color:#fff;
  background-image:none; 
  background-color:#45b1db;
  font-size:16px;
  font-weight:normal;
  text-transform:uppercase;
  -webkit-border-radius:0px; border-radius:0px;
}

/**********************************************************
	UL > LI 
**********************************************************/

ul > li {
	width:100%; height:90px;
	list-style:none;
	background:#fff;
	padding:5px;
	border-top:1px solid rgba(80,80,80,.5);
} 

ul > li > a {
	width:100%; height:90px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:90px;
	border-bottom:1px solid black;
	color:#000;
	padding-left:4px;
}


/**********************************************************
	CONTENT AREA
**********************************************************/

#content{
  background-color:#fff;	
  bottom:40px;
}

.panel {
  background:#fff;	
}


/**********************************************************
	TOOL BAR
**********************************************************/

#navbar {
  background-image:none;
  background-color:#fff;
  height:40px;	
}

#navbar a {
  height:40px;
  font-weight:bold;
  font-size:12px;
  color:#fff;
  width:78px;
  line-height:40px;
  /*margin-top:30px;*/
  background-image:url(../images/footer_button_bottom.png);
  text-transform:uppercase;
}

#navbar a:active, #navbar a:focus, #navbar a:active:focus,  #navbar .selected{
  /*background-image:none;*/ 
  color:#45b1db;
  font-weight:bold;
  font-size:14px;
}


#navbar a:not(:last-of-type) {
  border-right:0px;
}

/**********************************************************
	FORM ELEMENTS
**********************************************************/

input.jq-ui-forms { 
	color:#000;
	background:#EDEDED;
	border:solid 1px #EDEDED;
	-webkit-border-radius:6px; border-radius:6px;
	-webkit-box-shadow:inset 2px 2px 6px rgba(0,0,0,.5); box-shadow:inset 2px 2px 6px rgba(0,0,0,.5);	
}

#jQUi label {
  color: #000;
  font-weight: normal;
  font-family:Open Sans;
}

/**********************************************************
	TABLE
**********************************************************/

.ui-grid-a,.ui-grid-b,.ui-grid-c,.ui-grid-d {
	overflow: hidden
}

.ui-block-a,.ui-block-b,.ui-block-c,.ui-block-d,.ui-block-e {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}


.ui-grid-a .ui-block-a,.ui-grid-a .ui-block-b {
	width: 49.95%
}

.ui-grid-a>:nth-child(n) {
	width: 50%;
	margin-right: -.5px
}

.ui-grid-a .ui-block-a {
	clear: left
}

.ui-grid-b .ui-block-a,.ui-grid-b .ui-block-b,.ui-grid-b .ui-block-c {
	width: 33.25%
}

.ui-grid-b>:nth-child(n) {
	width: 33.333%;
	margin-right: -.5px
}

.ui-grid-b .ui-block-a {
	clear: left
}

.ui-grid-c .ui-block-a,.ui-grid-c .ui-block-b,.ui-grid-c .ui-block-c,.ui-grid-c .ui-block-d
	{
	width: 24.925%
}

.ui-grid-c>:nth-child(n) {
	width: 25%;
	margin-right: -.5px
}

.ui-grid-c .ui-block-a {
	clear: left
}

.ui-grid-d .ui-block-a,.ui-grid-d .ui-block-b,.ui-grid-d .ui-block-c,.ui-grid-d .ui-block-d,.ui-grid-d .ui-block-e
	{
	width: 19.925%
}

.ui-grid-d>:nth-child(n) {
	width: 20%
}

.ui-grid-d .ui-block-a {
	clear: left
}

/**********************************************************
	SCOREBOARD
**********************************************************/
.div_set {
    z-index:1;
	color:#333;
	display:inline-block;
	font-weight:bold;
	font-size:14px;
	/*line-height:36px;*/
	position:relative;
	text-align:center;
	text-shadow:#fff 0 1px 0;
	height:22px;
	min-width:20px;
	/*padding:0px 8px;*/
	/*margin-top:6px; margin-left:6px;*/
	text-overflow:ellipsis; 
	-webkit-border-radius:6px; border-radius:6px;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#999), color-stop(.5,#fff), color-stop(.5,#ccc)); background-image:linear-gradient(left top, left bottom, from(#fff), to(#999), color-stop(.5,#fff), color-stop(.5,#ccc));
	background:#ccc;
}

