// Application Styles
// -----------------------------

body     {color: #ffffff;}

header   {position:fixed;top:0px;width:100%;height:40px;background: #f4f4f4;border-bottom:solid 1px #d4d4d4;}

.yesTitle {margin-top:10px;font-weight:bold;}

footer   { position:fixed;bottom:0px;width:100%;height:40px;background: #f4f4f4;border-top:solid 1px #d4d4d4;left: 0;right: 0;z-index: 1000;}

.gut     { background: #ffffff; }

.buttonmnu {
float:left;
width:33%;
display:inline-block;
//text-shadow:1px 1px 0px #ffffff;
}

.buttonmnu a {
    display:inline-block;

	width:95%;
	height:22px; /* 30 - padding */
	margin-top:5px;
  
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding-top:8px; 
	background-color:#6e6e70;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #1f1d20;
  
  text-decoration:none;
}

.buttonmnu.active a {
	background-color:#3a3a3c;
}

.center    { margin-left: auto; margin-right: auto; }
.txtleft   { text-align: left; }
.txtright  { text-align: right; }
.txtcenter { text-align: center; }

// Fix BUG footer on Android 2.3.5
// -------------------------------
.footer {
	position: fixed;
	z-index: 10;
	bottom: 0;
	width: 100%;
}

.label-info {
	color: red;
}

// Autocomplete
// -------------------------------
.completer .results {
	margin: 10px 0 0;
	padding: 0;
}

.completer .results li {
	font-size: 1.4em;
	color: #5D63B3;
	font-weight: bold;
	background-color: #D5D7F5;
	padding: 4px;
	margin: 0;
	border-bottom: 1px solid #B6B9E3;
	cursor: pointer;
}

.completer .results li:last-child {
	border-bottom: none;
}

.completer .results li:hover {
	text-decoration: underline;
}

.completer .selections {
	padding: 0;
	margin: 13px 0;
	overflow: auto;
}

.completer .selections li {
	background: #FCFBA2;
	float: left;
	padding: 1px 2px;
	color: #333;
	font-size: 1.2em;
	margin-right: 10px;
}


// Comment
---------------------------------
.message {
	padding: 5px 5px 5px 5px;
}

.username {
	font-weight: strong;
	color: #0f0;
}

.msgContainerDiv {
	overflow-y: scroll;
	height: 150px;
}