/**********************************************************
	WP8 specifics.
**********************************************************/

@media screen and (orientation: portrait) {
    @-ms-viewport {
        width: 320px;
        user-zoom: fixed;
        max-zoom: 1;
        min-zoom: 1;
    }
}

/**********************************************************
	GENERAL UI ELEMENTS
**********************************************************/

body {
  color:#000;
  background-color: white;
}

p {
  color:#000;
  font-family:Open Sans;
}

/**********************************************************
	header
**********************************************************/

#jQUi > #header {
  position: absolute;
  background-image:none;
  background-color:#000;
  height:43px;	
  z-index:500;
}

#header #backButton {
  background-image:none;
  background-color:#000;  	
  z-index:1000;
}	

#header  h1 {
  margin-top:6px;
  font-size:15px;
  font-weight:bold;
  /*font-family: 'Open Sans';*/
  text-transform:uppercase;
  z-index:500;
}

#header  div#pageLogo {
  overflow:hidden;
  width:100%;
  z-index:1;
  text-align:center; 
  height:48px; 
  font-family: Helvetica, Arial, sans-serif;
  font-weight:bold;
  font-size:10px;
  text-align:center;
  text-overflow:ellipsis;
  white-space:nowrap;
  color:#45b1db;
  margin-top:6px;
  z-index:500;
}

.pageLogoPoint {
  font-size:18px;
  font-weight:bold;	
  z-index:500;
}

#pageOnline {
  display:block;
  position:absolute;
  top: 10px;
  right: 10px;
}

/**********************************************************
	BUTTON STYLES
**********************************************************/

.button {
  width:90%;	
  z-index:1;
  color:#fff;
  background-image:none; 
  background-color:#45b1db;
  font-size:16px;
  font-weight:normal;
  text-transform:uppercase;
  -webkit-border-radius:0px; border-radius:0px;
}

.button-green {
  width:90%;	
  z-index:1;
  color:#fff;
  background-image:none; 
  background-color:#40c68f;
  font-size:16px;
  font-weight:normal;
  text-transform:uppercase;
  -webkit-border-radius:0px; border-radius:0px;
}

/**********************************************************
	UL > LI 
**********************************************************/

ul > li {
	width:100%; 
	list-style:none;
	background:#fff;
	padding:5px;
	border-top:1px solid rgba(80,80,80,.5);
	height:100px;
} 

ul > li > a {
	width:100%; 
	/*height:90px;*/
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	/*line-height:90px;*/
	border-bottom:1px solid black;
	color:#000;
	padding-left:4px;
}


ul > li.player {
	width:100%; 
	list-style:none;
	background:#fff;
	padding:5px;
	border-top:1px solid rgba(80,80,80,.5);
	height:50px;
} 

ul > li.player > a {
	width:100%; 
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	border-bottom:1px solid black;
	color:#000;
	line-height:20px;
}

/**********************************************************
	CONTENT AREA
**********************************************************/

#content{
  background-color:#fff;
  top:48px;
  bottom: initial !important;
  z-index:180;
  width:100%;
  /* disabled yet */
  /*-webkit-overflow-scrolling:touch;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;  
    */
  /*padding-bottom: 100px;*/
 
}

.panel {
  background:#fff;	
}


/**********************************************************
	TOOL BAR
**********************************************************/

#navbar {
  background-image:none;
  background-color:#fff;
  height:40px;	
  box-shadow:none;
}

#navbar a {
  height:40px;
  font-weight:bold;
  font-size:12px;
  color:#fff;
  width:78px;
  line-height:40px;
  /*margin-top:30px;*/
  background-image:url(../images/footer_button_bottom.png);
  text-transform:uppercase;
}

#navbar a:active, #navbar a:focus, #navbar a:active:focus,  #navbar .selected{
  background-image:none; 
  color:#45b1db !important;
  font-weight:bold;
  font-size:12px;
  height:40px;
  width:78px;
  line-height:40px;
  background-image:url(../images/footer_button_bottom.png);
  text-transform:uppercase;
}


#navbar a:not(:last-of-type) {
  border-right:0px;
}

/**********************************************************
	FORM ELEMENTS
**********************************************************/

.bg-blue {
  color:#fff;
  background-image:none; 
  background-color:#45b1db;   		
  width:100%;
  height:100%;
  font-size:18px;	
  padding:20px;
  font-weight:bold;

}

.form-center {
  margin-left:auto;
  margin-right:auto;
  width:250px;  
}


#jQUi label {
  color: #fff;
  font-weight: normal;
  font-family:Open Sans;
}

.ui-input-text {
  color:#fff;
  font-weight:bold;  	
}

input.jq-ui-forms-white { 
  color:#000;
  background:#fff;
  -webkit-border-radius:12px; border-radius:12px;
  height:30px;
  width:100%;	
  padding-left:10px;
}

input.jq-ui-forms { 
	color:#000;
	background:#EDEDED;
	/*border:solid 1px #EDEDED;*/
	-webkit-border-radius:6px; border-radius:6px;
	/*-webkit-box-shadow:inset 2px 2px 6px rgba(0,0,0,.5); box-shadow:inset 2px 2px 6px rgba(0,0,0,.5);*/
	width:95%;	
}



/**********************************************************
	TABLE
**********************************************************/

.ui-grid-a,.ui-grid-b,.ui-grid-c,.ui-grid-d {
	overflow: hidden
}

.ui-block-a,.ui-block-b,.ui-block-c,.ui-block-d,.ui-block-e {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}


.ui-grid-a .ui-block-a,.ui-grid-a .ui-block-b {
	width: 49.95%
}

.ui-grid-a>:nth-child(n) {
	width: 50%;
	margin-right: -.5px
}

.ui-grid-a .ui-block-a {
	clear: left
}

.ui-grid-b .ui-block-a,.ui-grid-b .ui-block-b,.ui-grid-b .ui-block-c {
	width: 33.25%
}

.ui-grid-b>:nth-child(n) {
	width: 33.333%;
	margin-right: -.5px
}

.ui-grid-b .ui-block-a {
	clear: left
}

.ui-grid-c .ui-block-a,.ui-grid-c .ui-block-b,.ui-grid-c .ui-block-c,.ui-grid-c .ui-block-d
	{
	width: 24.925%
}

.ui-grid-c>:nth-child(n) {
	width: 25%;
	margin-right: -.5px
}

.ui-grid-c .ui-block-a {
	clear: left
}

.ui-grid-d .ui-block-a,.ui-grid-d .ui-block-b,.ui-grid-d .ui-block-c,.ui-grid-d .ui-block-d,.ui-grid-d .ui-block-e
	{
	width: 19.925%
}

.ui-grid-d>:nth-child(n) {
	width: 20%
}

.ui-grid-d .ui-block-a {
	clear: left
}

/**********************************************************
	SCOREBOARD
**********************************************************/

#displayViewScoreBoard {
  background-color:#45b1db;
  width:90%;
  margin:0 auto;
}

.div_set_scoreboard {
  text-align: center;
  z-index:1;
  color:#000;
  display:inline-block;
  font-weight:bold;
  font-size:14px;
  line-height:24px;
  position:relative;
  text-align:center;
  /*text-shadow:#fff 0 1px 0;*/
  height:24px;
  min-width:20px;
  /*padding:2px;*/
  /*margin-top:6px; margin-left:6px;*/
  text-overflow:ellipsis; 
  -webkit-border-radius:6px; border-radius:6px;
  background-image:none; 
  background:#e3e3e3;
}

.div_set_grey {
  color:#7C7C7E;
}

.div_score_mini {
  font-weight:normal;
  font-size:10px;	
}

.div_score_mini_legend {
  font-weight:normal;
  font-size:10px;	
  color:#fff;
  text-align:center;
}


.div_score_player {
  font-weight:bold;
  font-size:16px;	
  color:#000;
  text-decoration:none;
}

.div_set {
  font-weight:normal;
  color:#000;		
}

.div_score_menu {
  font-weight:normal;
  font-size:10px;
  border-right:1px;
  border-style:dotted;	
  text-align:center;
  height:100%;
}

.div_score_menu_right {
  font-weight:normal;
  font-size:11px;
  text-align:center;
  height:100%;
}

#ifrmScore {
  width:94%;
  margin:0 auto;
  background-color:#fff;	
}



.div_score_button {
  text-align:center;
  /*width:5px;*/
  margin-left:auto;
  margin-right:auto; 
  margin-top:5px;
  padding-top:8px;
  height:48px;	
  width:48px;
  color:#000;
  background-color:#fff;
  font-size:28px;
  font-weight:bold;
  -webkit-border-radius:6px; border-radius:6px;   
}

.score_bottom {	
  text-align:center;
  margin-top:10px;
  background-color:#fff;
}

.button_bottom {
  margin-left:auto;
  margin-right:auto; 
  padding-top:5px;
  width:90px;	
  height:44px;
  z-index:1;
  color:#fff;
  background-image:none; 
  background-color:#45b1db;
  font-size:14px;
  font-weight:bold;
  /*text-transform:uppercase;*/
  -webkit-border-radius:22px; border-radius:22px;
}


.button_comment {
  width:90%;
  height:40px;
  padding-top:10px;	
  z-index:1;
  color:#fff;
  background-image:none; 
  background-color:#40c68f;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  -webkit-border-radius:0px; border-radius:0px;
}

.timer {
  font-size:18px;
  font-weight:bold;	
}

/**********************************************************
	COMMENT
**********************************************************/

.bg-green {
  color:#fff;
  background-image:none; 
  background-color:#40c68f;  
  width:100%;
  height:100%; 		
  text-align:center;
  font-size:18px;	
  padding-top:10px;
  font-weight:bold;
}

.list-comment {
  background-color:#fff;
  text-align:left; 
  color:#000;
  width:96%; 	
  margin-left:auto;
  margin-right:auto;
  padding:5px;
}

.infocomment {
  font-weight:bold;
  font-size:13px;	
}

.comment {
  font-weight:normal;
  font-size:14px;	
  border-top:0px;
  border-right:0px;
  border-left:0px;
  border-bottom:1px;
  border-style:dotted;
  padding:10px;
}

.textarea-border {
  width:96%;
  margin-left:auto;
  margin-right:auto; 
  background-color:#fff;
  padding:10px;
}

.textarea-comment {
  width:100%;
  height:100px;
}

#sendButton {
	
}

.button_comment_send {
  padding-top:12px;
  width:90px;	
  height:44px;
  z-index:1;
  color:#fff;
  background-image:none; 
  background-color:#40c68f;
  font-size:14px;
  font-weight:normal;  
  -webkit-border-radius:22px; border-radius:22px;
}

.label-info {
	color:red;
}

/**********************************************************
	SCROLLBAR
**********************************************************/
.scrollBarV { opacity:.8 !important}
.scrollBar{background:white;}
.jqmscrollBar {background:white !important;}

